﻿.texbox-max-width { width: 95%;}
.ButtonBorder{border: Outset 1px black !important;}
.align-right{text-align:right !important;}
.align-center{text-align:center !important;}
.smallfont{font-size: 10px;}
.percent95{width: 95%;}
.no-margin, .no-margin div{margin:0; padding:0; }
.grid{width: 95%; margin:auto; font-size: 10px;}
.grid .row-style{background-color: #ffffff;}
.grid .alternating-row-style{background-color: #C2C2C2;}
.grid th{background-color: Green; text-align:center; border:1px solid Black; vertical-align:middle;}
.grid td{border:1px solid Black;}
.grid tr{font-size: 10px; text-align:center;}
.transparente{background-color :Transparent !important;}
.cuadro-mensaje{border-style: solid; border-width: 1px;}

.etiqueta-mensaje{font-weight: bolder;}
.ok{background-color: #AFFF95; border-color:#00B33A;}
.merror{background-color: #FFAFAF; border-color:#FF0404;}
/*.pleca{background: #fcfcfc url(../img/gridview/grd_alt.png) repeat-x top; }*/
.header{background: #008ACF url(../img/gridview/grd_head.png) repeat-x top; color:#505050; margin:0; height:73px; }
.border-login-screen{border:5px solid #d4d4d4 !important;}
.programado{color:#6f6f6f}
.encurso{color:Red}
/* GRIDVIEW STYLE*/
/*-------------------------------------------------------------------------------------*/

.mGrid, .mList
{        
	background-color: #fff;        
	/*overflow: auto; */   
	margin: 5px auto 10px auto;        
	border-collapse:collapse;
	width:95%;
}   

.mGrid
{
	/*border: solid 1px #525252;*/
}

.mGrid td, .mList .item 
{        
	padding: 2px 0;        
	color: #717171;    
}   

.mList .item 
{
	border: solid 1px #c1c1c1;
}

.mGrid td
{
	/*
	border-top: solid 1px #c1c1c1;
	border-bottom: solid 1px #c1c1c1;
	*/
}

.mGrid th, .mList .hdr
{	
	padding: 4px 0;        
	color: #6f6f6f;        
	background-color:#e9e9e9;
	/*background: #008ACF url(../img/gridview/grd_head.png) repeat-x top; */
	/*border-left: solid 1px #525252;*/
	font-size:12px;
}   

.mGrid .alt td, .mList .alt
{ 
	background: #fcfcfc url(../img/gridview/grd_alt.png) repeat-x top; 
}   

.mList .alt
{
	/*border: solid 1px #c1c1c1;*/
}

.mGrid .pgr 
{ 
	background: #424242 url(../img/gridview/grd_pgr.png) repeat-x top; 
}   

.mGrid .pgr table 
{ 
	margin: 5px 0; 
}   

.mGrid .pgr td 
{        
	border-width: 0;        
	padding: 0 6px;        
	border-left: solid 1px #666;        
	font-weight: bold;        
	color: #fff;        
	line-height: 12px;     
}      

.mGrid .pgr a 
{ 
	color: #666; 
	text-decoration: none; 
}   

.mGrid .pgr a:hover 
{ 
	color: #000; 
	text-decoration: none; 
} 

.mGrid .sel  td /*.SelectedRowStyle td */
{    
	/*background-color: #FDF564;
	background-color: #fcb814;*/
	/*background: #fcb814 url(../img/gridview/grd_selected.png) repeat-x top;*/
	/*background-image: url(../img/gridview/YahooSprite.gif);	
    background-position:center;
    background-repeat:repeat-x;*/
    color: #000000;
	font-size: 9pt;
	background-color :#E2DED6;
	font-weight: bolder ; 
}



/*FORMULARIOS */

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"]
{
	border: 1px solid #999;
	background-color: #ddd;
	color:Black !important;
	cursor:default;
}

.formulario-controles .label-controles
{
	text-align:right;
}

.menu-opciones-solicitud-integral
{
	font-size:large;
}

.menu-opciones-solicitud-integral li
{
	color:#1f98d1;
	margin:30px;
}

.titulo-formulario h4
{
	color:#1157b6;
	font-weight:bold;
	/*border-bottom: 1px solid #dbe0e4;*/
	margin-bottom: 15px;
}

.item-formulario
{
	padding: 1px 0;
}

.etiqueta-formulario
{
	font-size:13px;
	font-weight:bold;
	/*color:#363636;*/
	color:#cc0000;
	text-align:right;
}

.etiqueta-formulario-center
{
	font-size:13px;
	font-weight:bold;
	color:#363636;
	text-align:justify !important;
}

.control-formulario input, .control-formulario select, .control-formulario textarea
{
	width: 100%;
	color:#666666;
}

.opciones-formulario
{
	padding-top:5px;
}

/**************  ROUNDED CORNERS *****************/

/* Xnazzy Borders */

.xsnazzy h3, .zsnazzy h3, .xsnazzy h4, .zsnazzy h4
{
margin:0; 
font-size:1.2em; 
padding:0 10px 5px 10px; 
background-color:Transparent;
}

.xsnazzy p, .zsnazzy p 
{
margin:0; 
padding:5px 10px; 
font-size:10px;
}

.xsnazzy 
{
background: transparent; 
margin:0 3px;
}

.xtop, .xbottom 
{
display:block; 
background:transparent; 
font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 
{
display:block; 
overflow:hidden;
}
.xb1, .xb2, .xb3 
{
height:1px;
}

.xb2, .xb3, .xb4 
{
background:#fff; 
}

.xb1 
{
margin:0 5px; 
background:#444;
}
.xb2 
{
margin:0 3px;
border-width:0 2px;
}

.xb3 
{
margin:0 2px;
}
.xb4 
{
height:2px; 
margin:0 1px;
}

.xboxcontent 
{
display:block; 
border-width:0 1px; 
height:auto;
}

* html .xboxcontent 
{
height:1px;
}

/* Rounded Corners --- Colores personalizados */

.blue-box
{
	margin:5px;
}

.blue-box h2, .blue-box h3, .blue-box h4
{
	/*color: #14638a;*/
	color: #6f6f6f;
	padding:0 10px; 
	margin:0;	
}

.blue-box .xb1, .blue-box .xb2, .blue-box .xb3, .blue-box .xb4, .blue-box .xboxcontent, .blue-box h2,.blue-box h3, .blue-box h4
{
	/*background-color: #bae4f2;*/
	background-color:#e9e9e9;
}

.message-box-info .xb1, .message-box-info .xb2, .message-box-info .xb3, .message-box-info .xb4, .message-box-info .xboxcontent 
{
	background-color: #BDE5F8;
}

.message-box-success .xb1, .message-box-success .xb2, .message-box-success .xb3, .message-box-success .xb4, .message-box-success .xboxcontent 
{
	background-color: #DFF2BF;
}

.message-box-warning .xb1, .message-box-warning .xb2, .message-box-warning .xb3, .message-box-warning .xb4, .message-box-warning .xboxcontent 
{
	background-color: #FEEFB3;
}

.message-box-error .xb1, .message-box-error .xb2, .message-box-error .xb3, .message-box-error .xb4, .message-box-error .xboxcontent 
{
	background-color: #FFBABA;
}

/*Estilo del encabezado*/

#modulos .opcion-menu
{
	background-image: url('../img/layout/background-menu-opciones.gif');
	background-repeat:repeat-x;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	display:table-cell;
	*display:inline;
	/*height:24px;*/
	padding-top:5px;
	margin:0;
}

#modulos .opcion-menu a
{
	background-image:none;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration:none;	
}

#modulos .opcion-supermenu
{
	background-image:none;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration:none;
	color:Red;
}

#loginusuario
{
	background-color:Transparent;
	color: #303030;
	font-weight:bold;
	padding-top:6px;	
	color: #303030;
}

h1, h2, h3
{
	color:#606060;
}