/*======================================
      WELCOME TO THE STYLESHEET
--------------------------------------      
     Copyright Mike Crittenden
      Author: Mike Crittenden
======================================*/
 
/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/

/* LAYOUT */

html
{
	background-image:url('../img/layout/pattern.png');
}

body
{
	border: 0;
	margin: 0;
	padding: 0;
	/*background-color:#FFFFFF;*/
}

.container
{
	background-color:#f7f7f7;
}

body.master-page
{
	background-image: url('../img/layout/background-color.gif');
	background-repeat:repeat-x;
	background-position:top;
}


/*#header
{
	background-color:#4d95ea;
	color:#FFF;
	margin:0;
	height:72px;
}*/
	
		#header #Logo
		{
			margin:0;
			padding:0;
		}
		
#header-navegacion-opciones-primarias, #header-navegacion-opciones-primarias a
{
	margin-top:-5px;	
	color:#ddf5ff;
	font-size:14px;
	font-weight:bold;
}

#header-fecha-actual
{
	margin-top:-5px;	
	font-weight:bold;
	text-align:right;
}		

#navegacion-controles-principal
{
	background-color:Transparent;
	color: #006CA2;
	font-weight:bold;
	height:30px;
	
	background-image: url('../img/layout/ydn-inline-nav-off.gif');
	background-repeat:repeat-x;
	background-position:top;
}

	#navegacion-controles-principal #logout
	{
		padding-top:6px;	
		text-align:right;
	}
	
	#navegacion-controles-principal #usuarios
	{
		padding-top:6px;	
	}

#navegacion-opciones-primarias
{
	padding-top:6px;	
}


#navegacion-principal
{
	
}

#contenido-principal
{
	background-color:Transparent;
	color:#666666;
}

#footer
{
	border-top:1px solid #c2c2c2;
	color: #2288BB;
	font-weight:bold;
	padding:6px 0 5px 0;
	margin:0;
}

/* PROGRAMA OPERATIVO */ 

.opcion-programa-operativo
{
	height: 180px;
	margin: 35px auto;
	overflow:auto;
	text-align:center;
}

.region-poa
{
	margin: 10px 0 15px 0;
	font-size:large;
}

.region-poa-contenedor
{
}


/**** MODAL - POPUPS ***/


.modal-background
{
    filter: Alpha(Opacity=40); 
    -moz-opacity:0.4; 
    opacity: 0.4;
    width: 100%; 
    height: 100%; 
    background-color: #999999;
    /*position: absolute;*/
    z-index: 0;
    top: 0px; left: 0px;
}

.modal-container
{
	background-color: #FFFFFF;
	border:2px solid black;
	width:100%;

	padding: 10px 0;
	z-index:0;

	max-height:550px;
	overflow:scroll;
	overflow-x: hidden;
}


.modal-container h2, .modal-container h3, .modal-container h4
{
	color: #14638a;	
}

/* LOG IN */
#header-login
{
	height:300px;
}

.activo-poa
{
	margin: 10px 0 15px 0;
	font-size:small;
}

.renglon-login
{
	margin-bottom:10px;
}

.activo-poa-contenedor
{
	
}

.gerencia-poa
{
	font-size:smaller;
}

.gerencia-poa-contenedor
{
	
}

.gerencia-poa-contenedor input
{
	width:100%;
	text-align:right;
}

.instalaciones-gerencias-poa
{
	margin: 15px 0;
}

.labels-dias-instalaciones-gerencia-poa div
{
	display:inline-block;
	text-align: center;
	width:23px;
}

.middle-center
{
	
}

/* HACK for Google Chrome*/
body:nth-of-type(1) .labels-dias-instalaciones-gerencia-poa div
{
	width:21px;
}

/* HACK For Firefox 3 o superior */
.labels-dias-instalaciones-gerencia-poa div, x:-moz-any-link, x:default
{
	width:21px;
}

/* HACK For Firefox 2*/
.labels-dias-instalaciones-gerencia-poa div, x:-moz-any-link
{
	width:21px;
}

.inputs-dias-instalaciones-gerencia-poa input[type="text"]
{
	font-size:95%;
	width:20px;
	margin: 0;
	border-width:1px;
	border-right:0;
}

/* Message Box */

.message-box 
{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    padding:0px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    margin: auto;
}

.message-box-titulo
{
	font-weight:bold;
	clear:both;
}

.message-box-titulo-mensaje
{
	width:80%;
	display:inline-block;
}

.message-box-close-button
{
	display:inline-block;
	font-size:1em;
	font-weight:bolder;
	text-align:right;
	width:18%;
	color:#CC0000;
	margin:0;
	text-decoration:underline;
}

.message-box-contenido
{
	padding: 5px 0 0 0;
}

.message-box-info, .message-box-info .message-box 
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/message-box/info.png');
}

.message-box-info a
{
	color: #00529B;
}

.message-box-success, .message-box-success .message-box 
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/message-box/valid-green.png');
}

.message-box-success a
{
	color: #4F8A10;
}

.message-box-warning, .message-box-warning .message-box 
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/message-box/attention.png');
}

.message-box-warning a
{
	color: #9F6000;
}

.message-box-error, .message-box-error .message-box
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/message-box/cancel.png');
}

.message-box-error a
{
	color: #D8000C;
}

.message-box-borders
{
	background-color:#00FF00;
}
	
/*FORMULARIOS */

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"]
{
	border: 1px solid #999;
	background-color: #ddd;
	color:Black !important;
	cursor:default;
}

.formulario-controles .label-controles
{
	text-align:right;
}

.menu-opciones-solicitud-integral
{
	font-size:large;
}

.menu-opciones-solicitud-integral li
{
	color:#1f98d1;
	margin:30px;
}

.titulo-formulario h4
{
	color:#1157b6;
	font-weight:bold;
	/*border-bottom: 1px solid #dbe0e4;*/
	margin-bottom: 15px;
}

.item-formulario
{
	padding: 1px 0;
}

.etiqueta-formulario
{
	font-size:13px;
	font-weight:bold;
	color:#363636;
	text-align:right;
}

.control-formulario input, .control-formulario select, .control-formulario textarea
{
	width: 100%;
	color:#666666;
}

.opciones-formulario
{
	padding-top:5px;
}

/**************  ROUNDED CORNERS *****************/

/* Xnazzy Borders */

.xsnazzy h3, .zsnazzy h3, .xsnazzy h4, .zsnazzy h4
{
margin:0; 
font-size:1.2em; 
padding:0 10px 5px 10px; 
background-color:Transparent;
}

.xsnazzy p, .zsnazzy p 
{
margin:0; 
padding:5px 10px; 
font-size:10px;
}

.xsnazzy 
{
background: transparent; 
margin:0 3px;
}

.xtop, .xbottom 
{
display:block; 
background:transparent; 
font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 
{
display:block; 
overflow:hidden;
}
.xb1, .xb2, .xb3 
{
height:1px;
}

.xb2, .xb3, .xb4 
{
background:#fff; 
}

.xb1 
{
margin:0 5px; 
background:#444;
}
.xb2 
{
margin:0 3px;
border-width:0 2px;
}

.xb3 
{
margin:0 2px;
}
.xb4 
{
height:2px; 
margin:0 1px;
}

.xboxcontent 
{
display:block; 
border-width:0 1px; 
height:auto;
}

* html .xboxcontent 
{
height:1px;
}

/* Rounded Corners --- Colores personalizados */

.blue-box
{
	margin:5px;
}

.blue-box h2, .blue-box h3, .blue-box h4
{
	color: #14638a;
	padding:0 10px; 
	margin:0;
}

.blue-box .xb1, .blue-box .xb2, .blue-box .xb3, .blue-box .xb4, .blue-box .xboxcontent, .blue-box h2,.blue-box h3, .blue-box h4
{
	background-color: #bae4f2;
}

.message-box-info .xb1, .message-box-info .xb2, .message-box-info .xb3, .message-box-info .xb4, .message-box-info .xboxcontent 
{
	background-color: #BDE5F8;
}

.message-box-success .xb1, .message-box-success .xb2, .message-box-success .xb3, .message-box-success .xb4, .message-box-success .xboxcontent 
{
	background-color: #DFF2BF;
}

.message-box-warning .xb1, .message-box-warning .xb2, .message-box-warning .xb3, .message-box-warning .xb4, .message-box-warning .xboxcontent 
{
	background-color: #FEEFB3;
}

.message-box-error .xb1, .message-box-error .xb2, .message-box-error .xb3, .message-box-error .xb4, .message-box-error .xboxcontent 
{
	background-color: #FFBABA;
}

/*TRANSPORTE TERRESTRE*/

.texbox-max-width { width: 100%;}

.align-right{text-align:right;}

.align-left{text-align:left;}

.align-center{text-align:center;}

.grid{width: 95%; margin:auto; font-size: 10px;}
.grid .row-style{background-color: #ffffff;}
.grid .alternating-row-style{background-color: #C2C2C2;}
.grid th{background-color: Green; text-align:center; border:1px solid Black; vertical-align:middle;}
.grid td{border:1px solid Black;}
.grid tr{font-size: 10px; text-align:center;}

.centrar
{
}

.FontPopUp
{
	font-size: 13px !important;	
}

.gridscroll
{
	width: 300px;
	height: 200px;
	border-color: Black;
	border-style: solid;
	border-width:1px;	
}

.boton-busqueda
{
	background-image: url('../img/message-box/search.png');		
}

.emergente-encabezado
{
	margin-top: 10px;
	font-weight: bold;
	color: #006CA2;
	font-size: 16px;
}

.control-text
{
	height:100%;
	vertical-align:middle;	
}

.control-textbox-instalacion
{	
	width:50px;
}

.boton-salir
{	
	background-image: url('../Recursos/img/layout/house.png');
}

.boton-aceptar
{	
	background-image: url('../Recursos/img/icons/tick.png');
}

.boton-cargar-excel
{	
	background-image: url('../Recursos/img/icons/table_refresh.png');
	
}

/* GRIDVIEW STYLE*/
/*-------------------------------------------------------------------------------------*/

.mGrid, .mList
{        
	background-color: #fff;        
	overflow: auto;    
	margin: 5px auto 10px auto;        
	border-collapse:collapse;
	width:100%;
}   

.mGrid
{
	border: solid 1px #525252;
}

.mGrid td, .mList .item 
{        
	padding: 2px 0;        
	color: #717171;    
}   

.mList .item 
{
	border: solid 1px #c1c1c1;
}

.mGrid td
{
	border: solid 1px #c1c1c1;
}

.mGrid th, .mList .hdr
{	
	padding: 4px 0;        
	color: #fff;        
	background: #008ACF url(../img/gridview/grd_head.png) repeat-x top;    
	border-left: solid 1px #525252;        
	font-size: 0.9em;
}   

.mGrid .alt td, .mList .alt
{ 
	background: #fcfcfc url(../img/gridview/grd_alt.png) repeat-x top; 
}   

.mList .alt
{
	border: solid 1px #c1c1c1;
}

.mGrid .pgr 
{ 
	background: #424242 url(../img/gridview/grd_pgr.png) repeat-x top; 
}   

.mGrid .pgr table 
{ 
	margin: 5px 0; 
}   

.mGrid .pgr td 
{        
	border-width: 0;        
	padding: 0 6px;        
	border-left: solid 1px #666;        
	font-weight: bold;        
	color: #fff;        
	line-height: 12px;     
}      

.mGrid .pgr a 
{ 
	color: #666; 
	text-decoration: none; 
}   

.mGrid .pgr a:hover 
{ 
	color: #000; 
	text-decoration: none; 
} 

.mGrid .sel  td /*.SelectedRowStyle td */
{    
	/*background-color: #FDF564;
	background-color: #fcb814;*/
	background: #fcb814 url(../img/gridview/grd_selected.png) repeat-x top;
	/*background-image: url(../img/gridview/YahooSprite.gif);	
    background-position:center;
    background-repeat:repeat-x;*/
}

/*----------------------------- ALINEACION DE TEXTOS ----------------------------------*/

.align-left
{
	text-align:left;
}

/*-------------------------------------------------------------------------------------*/

.folio-solicitud-integral
{
	font-size:2em;
	font-weight:bold;
	color:#ec733e;
	/*border:1px solid #2aaaf9;
	bakground-color:#cce8f9;*/
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
