﻿body {
}

input[type=text], input[type=password] {
cursor:text;
}

span.etiqueta 
{
	color: Blue;
	font-family: monaco,"Lucida Console",courier,monospace;
	font-size: 70%;
}

textarea, input[type=text], input[type=password], select {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #CCCCCC;
}

code, kbd, samp, pre, tt, var, input[type=text], input[type=password], textarea {
font-family:monaco,"Lucida Console",courier,monospace;
font-size:92%;
}

textarea, input {
padding:0.3em 0.4em 0.15em;
}

.webtable_grid
{
	font-family: "Liberation Sans",Helvetica,Arial,sans-serif;
	font-size: 10px;
	margin: 0px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: transparent;
	border: 0px;
	padding: 0px;
}

.webtable_grid tr
{
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
}

.webtable_grid tr td
{
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
}

.webtable_grid table.webtable_head
{
	font-weight: normal;
	vertical-align: middle;
	background: #008ACF url('../img/gridview/grd_head.png') repeat-x;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	color: #FFFFFF;
	padding: 0px; 
}

.webtable_grid table.webtable_head td
{
	padding: 0px; 
	border: 0px;
	border-right: 1px solid #FFFFFF;
	color: #717171;
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.webtable_grid table.webtable_head button
{
	width: 26px;
	height: 26px;
	font-size: 9px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.webtable_grid table.webtable_head td input[type=text]
{
	font-family: "Liberation Sans",Helvetica,Arial,sans-serif;
	padding: 0px; 
	border: 0px;
	background: transparent;
	color: #FFFFFF;
    font-size: 10px;
	text-align: center;
}

.webtable_grid table.webtable_row
{
	font-weight: normal;
	vertical-align: middle;
	border: 0px;
	color: #FFFFFF;
	padding: 0px;
	background: #FFFFFF url('../img/gridview/grd_alt.png') repeat-x;
}

.webtable_grid table.webtable_row td
{
	padding: 0px; 
	border-right: 1px solid #C1C1C1;
	border-collapse: collapse;
	color: #717171;
	height: 30px;
}

.webtable_grid table.webtable_row button
{
	width: 16px;
	height: 16px;
	font-size: 9px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.webtable_grid table.webtable_row td input[type=text]
{
	font-family: "Liberation Sans",Helvetica,Arial,sans-serif;
	padding: 0px; 
	border: 0px;
	background: transparent;
	color: #000000;
    font-size: 10px;
	text-align: center;
}

.webtable_grid table.webtable_row tr:hover td
{
	background: #d0dafd;
	color: #339;
}

