﻿@{
    ViewBag.Title = "Solicitud Integral: Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["mensaje"] != null)
{ 
    <label>@TempData["mensaje"]</label>
}

@if (TempData["mensaje_error"] != null)
{ 
    <label class="error">@TempData["mensaje_error"]</label>
}

<h2>Bienvenido al Sistema de Solicitudes Integrales</h2>

<div class="grid">

    <div class="row">
    
        <div class="span6" style="padding: 10px; background-color: #F7F7F9; border:1px solid #E1E1E8;" >

            <h3 style="color: #2D89EF;">Solicitudes Integrales</h3>

            <ul style="list-style-type: none;">
                <li>@Html.ActionLink("Listado Solicitudes", "Listado", "SolicitudIntegral")</li>
                <li>@Html.ActionLink("Nueva Solicitud Integral", "Editar", "SolicitudIntegral")</li>
                <li>@Html.ActionLink("Listado Folios de Visita", "Listado", "FoliosVisita")</li>
            </ul>
    
        </div>


        <div class="span6" style="padding: 10px; background-color: #F7F7F9; border:1px solid #E1E1E8;">

            <h3 style="color: #2D89EF;">Solicitudes de Transporte Terrestre</h3>

            <ul style="list-style-type: none;">
                <li><a href="~/WebTransporteTerrestre/Solicitudterrestre/SolicitudTerrestre.aspx">Nueva Solicitud Terrestre</a></li>
                <li><a href="~/WebTransporteTerrestre/Solicitudterrestre/Solicitudes.aspx">Administración de Solicitudes</a></li>
            </ul>
       
        </div>

    </div>

</div>

@Html.Action("ListadoNoticias", "Noticias")