﻿@model IEnumerable<STPIntegral.Datos.stp_c_mensajes>

<div id="noticias" class="grid">

    <h2>Noticias del Sistema</h2>

    @if (Model.Count() > 0)
    { 
        foreach (STPIntegral.Datos.stp_c_mensajes mensaje in Model)
        { 
            <div class="noticia row">

                <div class="row">

                    <div class="span1 bg-color-blue" style="height: 65px; padding: 0px; margin:2px;">
                        <label style="color:#fff; font-size:13pt; font-weight:bold;">@System.String.Format("{0:dd}",mensaje.fec_crea)</label>
                        <br />
                        <label style="color:#fff; font-size:18pt; font-weight:bold; padding:3px 5px;">@System.String.Format("{0:MMM}",mensaje.fec_crea)</label>
                        <br />
                        <label style="color:#fff; font-size:11pt; font-weight:bold; padding:0 0 0 18px;">@System.String.Format("{0:yyyy}",mensaje.fec_crea)</label>
                    </div>

                    <div class="span11">

                        <div class="titulo-noticia">
                            <h3>@mensaje.titulo</h3>
                        </div>

                        <div class="autor-noticia">
                            @switch (mensaje.categoria) 
                            { 
                                case 1: 
                                { 
                                    <strong class="fg-color-blueDark">[General]</strong>
                                    break; 
                                } 
                                case 2: 
                                { 
                                    <strong class="fg-color-red">[Importante]</strong>
                                    break; 
                                } 
                                case 3: 
                                { 
                                    <strong class="fg-color-blue">[Noticia]</strong>
                                    break; 
                                } 
                            }
                            <label>Por: [@mensaje.fic_crea]  @mensaje.nom_crea</label>

                        </div>

                    </div>

                </div>

                <div class="mensaje-noticia row">
                    @Html.Raw(@mensaje.mensaje)
                </div>

                <div class="row text-align-right">
                    <label>Última modificación: @String.Format("{0:dd/MM/yyyy HH:mm}",mensaje.fec_actualiza)</label>
                </div>

            </div>
        }
    }
    else
    { 
        <label>No hay ninguna noticia actualmente</label>
    }

</div>