﻿
<div id="frmBusquedaxInstalacion">
    <div class="grid">
        <div class="row">
            <input type="text" class="span4" id="txtBuscar" placeholder="Buscar Por Nombre o Sigla de Instalación..." data-bind="value: fraseConsulta"/>
            <button class="btn" type="button" data-bind="click: ConsultarItinerarioxInstalacion" ><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
        </div>
        <div class="row">
                <div class="">
                    <div class="scrollingArea">
                        <table class="scrolling">
                            <thead>
                                <tr>
                                    <th class="cve_itinerario">Clave Itinerario</th>
                                    <th class="des_itinerario">Descripción</th>
                                    <th class="cve_nodo_origen">Clave del nodo origen</th>
                                    <th class="cve_nodo_destino">Clave del nodo destino</th>
                                    <th class="cve_tipo_servicio">Clave del tipo</th>
                                    <th class="des_tipo_servicio">Descripción del tipo del servicio</th>
                                    <th class="CVE_AREA_SERVICIO">Clave del Área de Servicio</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: listado_itinerarios">
                                <tr>
                                    <td class="cve_itinerario" data-bind="text: $data.cve_itinerario" ></td>
                                    <td class="des_itinerario" data-bind="text: $data.des_itinerario" ></td>
                                    <td class="cve_nodo_origen" data-bind="text: $data.cve_nodo_origen" ></td>
                                    <td class="cve_nodo_destino" data-bind="text: $data.cve_nodo_destino" ></td>
                                    <td class="cve_tipo_servicio" data-bind="text: $data.cve_tipo_servicio" ></td>
                                    <td class="des_tipo_servicio" data-bind="text: $data.des_tipo_servicio" ></td>
                                    <td class="CVE_AREA_SERVICIO" data-bind="text: $data.CVE_AREA_SERVICIO" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
                <br />
                <input id="btnCerrar" type="button" value="Cerrar" />
            </div>
    </div>
</div>