﻿@model String

@{
    ViewBag.Title = "Solicitud Integral: Diferir Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="solicitud-integral-reprogramacion">

    <h2 id="titulo-solicitud-integral" data-bind="text: solicitudIntegral.IdSolicitudIntegral() > 0 ? 'Diferir la Solicitud Integral: ' + solicitudIntegral.FolioSolicitudIntegral() + ' [' + solicitudIntegral.EstadoSolicitudIntegral() + ']': 'Diferir solicitudes Integrales'" >Diferir Solicitudes Integrales</h2>

    <input id="txtDatosSolicitudIntegral" type="hidden" value="@Model"/>

    @*<button id="btnCancelarSolicitudIntegral" class="btn" data-bind="click: CancelarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Cancelar"><img src="~/Content/images/defaulticon/16x16/cancel.png"/></button>
    <button id="btnConfirmarSolicitudIntegral" class="btn" data-bind="click: ConfirmarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Confirmar"><img src="~/Content/images/defaulticon/16x16/check.png"/></button>
    
    <input id="txtFolioSolicitudIntegral" type="text" />
    <button id="btnBuscarFolioSolicitud" class="btn" data-bind="click: ObtenerDatosSolicitudIntegralEditar" type="button"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
    <span id="image-loading-cargar-datos-solicitud" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
    *@

    <div class="grid">

        <div id="tipo-solicitud" class="row">
        
            <label class="span2">Tipo</label>
            <span><label data-bind="text: solicitudIntegral.TipoSolicitudIntegral"></label></span>

        </div>

        <div id="tipo-personal" class="row">

            <label class="span2">Personal</label>
            <span><label data-bind="text: solicitudIntegral.TipoPersonal"></label></span>

        </div>

        <div id="tipo-transporte" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
        
            <label class="span2" >Transporte</label>
            <span><label data-bind="text: solicitudIntegral.TipoTransporte"></label></span>

        </div>

        <div id="tipo-servicio" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">

            <label class="span2">Servicio</label>
            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="text: solicitudIntegral.TipoServicio"></label></span>

        </div>

        <div id="fecha-subida" class="row">

            <label class="span2">Subida/Serv.</label>
            
            <span class="input-control text span2 input-append">
                <label id="lblFechaSubida" data-bind="text: solicitudIntegral.FechaSubida"></label>
            </span>

            <label class="span2">Nueva Subida/Serv.</label>
            <span class="input-control text span2 input-append">
                <input type="text" id="txtNuevaFechaSubida" />
            </span>
            
            <button id="btnMostrarCalendarioNuevaFechaSubida" class="btn" data-bind="click: MostrarCalendarioNuevaFechaSubida" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>
        
        </div>
    
        <div id="fecha-bajada" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'" class="row">
            <label class="span2">Bajada</label>
            <span class="input-control text span2 input-append">
                <label class="span4" id="lblFechaBajada" data-bind="text: solicitudIntegral.FechaBajada"></label>
            </span>

            <label class="span2">Nueva Bajada</label>
            <span class="input-control text span2 input-append">
                <input type="text" id="txtNuevaFechaBajada" />
            </span>

            <button id="btnMostrarCalendarioNuevaFechaBajada" class="btn" data-bind="click: MostrarCalendarioNuevaFechaBajada" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>

        </div>
    
        <div id="ficha-solicitante" class="row">
            <label class="span2">Solicitante</label>
            
            <div class="input-control text span2 input-append">
                <label id="lblSolicitante" data-bind="text: solicitudIntegral.FichaSolicitante" ></label>
            </div>

            <label data-bind="text: solicitudIntegral.NombreSolicitante"></label>
        </div>

        <div id="ficha-autorizador" class="row">
            <label class="span2">Autorizador</label>
            
            <div class="input-control text span2 input-append">
                <label id="txtAutorizador" data-bind="text: solicitudIntegral.FichaAutorizador" ></label>
            </div>

            <label data-bind="text: solicitudIntegral.NombreAutorizador"></label>
        </div>

        <div id="numero-contrato" data-bind="visible: solicitudIntegral.TipoPersonal() != 'PEMEX'" class="row">
            <label class="span2">Contrato</label>
            
            <div class="input-control text span4 input-append">
                <input id="lblContrato" data-bind="value: solicitudIntegral.NumeroContrato"/> 
            </div>

            <label data-bind="text: solicitudIntegral.NombreAcreedor"></label> - <label data-bind="text: solicitudIntegral.RFCAcreedor"></label>
        </div>

        <div id="hora-itinerario" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            
            <label class="span2">Transp. Ida</label>
            
            <div class="input-control select span5">
                <select id="cmbItinerarios" data-bind="options: ItinerariosTransporteIda, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteIda,  event: { change: ItinerarioSelectionChanged }"></select>    
            </div>

            @*<div class="span2">
                
            </div>

            <div id="capacidad-transporte" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadTransporte"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporte"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-capacidad-transporte" class="loading-image" style="display: none"><img src="~/Content/images/icons/loading.gif"/></span>
            </div>*@

        </div>

        <div id="hora-itinerario-regreso" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="row">
            
            <label class="span2">Transp. Ret.</label>
            
            <div class="input-control select span5">
                <select id="cmbItinerariosRetorno" data-bind="options: ItinerariosTransporteRetorno, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteRetorno,  event: { change: ItinerarioRetornoSelectionChanged }"></select>    
            </div>
            
           @* <div class="span2">
                
            </div>

            <div id="capacidad-transporte-retorno" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadTransporteRetorno"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporteRetorno"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-capacidad-transporte-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>*@

        </div>

         <div id="tipo-transporte-nuevo" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
        
            <label class="span2" >Nvo.Transporte</label>
            <span><label data-bind="text: solicitudIntegral.TipoTransporte() == 'AEREO' ? 'MARITIMO' : 'AEREO'"></label></span>

        </div>

        <div id="ficha-autorizador-diferir" class="row">
            <label class="span2">Nvo.Autorizador</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtAutorizadorDiferir" type="text" name="txtAutorizador" data-bind="value: solicitudIntegral.FichaAutorizadorDiferir, enable: solicitudIntegralDiferida.IdSolicitudIntegral() <= 0 ? true : false" placeholder="Nvo. Autorizador"/>                
            </div>
            
            <button id="btnValidarFichaAutorizadorDiferir" class="btn" type="button" data-bind="enable: solicitudIntegralDiferida.IdSolicitudIntegral() > 0 && solicitudIntegral.FichaAutorizadorDiferir() != '' ? true : false, click: ValidarAutorizadorDiferir"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

            <span id="image-loading-autorizador-diferir" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <span data-bind="attr: { title: solicitudIntegral.DescripcionSubdivisionAutorizadorDiferir() }"><label data-bind="    text: solicitudIntegral.SubdivisionAutorizadorDiferir() == null ? 'No se encontro a ningun solicitante con esa ficha que comparta la misma subdivision del usuario' : '[' + solicitudIntegral.SubdivisionAutorizadorDiferir() + ']'"></label><label data-bind="    text: solicitudIntegral.NombreAutorizadorDiferir"></label></span>
        </div>

        <div id="hora-itinerario-nuevo" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            
            <label class="span2">Nvo.Transp.Ida </label>
            
            <div class="input-control select span5">
                <select id="cmbItinerariosDiferir" data-bind="enable: solicitudIntegralDiferida.IdSolicitudIntegral() <= 0 ? true : false,  options: ItinerariosTransporteIdaDiferir, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]',  event: { change: ItinerarioDiferirSelectionChanged }"></select>    
            </div>

            <div class="span2">
                <button id="btnActuaizarItinerariosDiferir" class="btn" type="button" data-bind="click: ConsultaItinerariosDiferir"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-itinerarios-diferir" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

            <div id="capacidad-transporte-diferir" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadTransporteDiferir"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporteDiferir"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-capacidad-transporte-diferir" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

        </div>

        <div id="hora-itinerario-regreso-nuevo" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="row">
            
            <label class="span2">Nvo.Transp.Ret</label>
            
            <div class="input-control select span5">
                <select id="cmbItinerariosRetornoDiferir" data-bind="enable: solicitudIntegralDiferida.IdSolicitudIntegral() <= 0 ? true : false, options: ItinerariosTransporteRetornoDiferir, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', event: { change: ItinerarioRetornoDiferirSelectionChanged }"></select>    
            </div>

            <div class="span2">
                <button id="btnActualizarItinerarios" class="btn" type="button" data-bind="click: ConsultaItinerariosDiferir"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-itinerarios-diferir-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

            <div id="capacidad-transporte-diferir-retorno" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadTransporteDiferirRetorno"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporteRetornoDiferir"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <span id="image-loading-capacidad-transporte-diferir-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>
            
        </div>

    </div>

    <div id="tabla-detalles-reprogramacion-solicitud-integral">

        <script type="text/html" id="registro-detalles-reprogramacion-solicitud-integral">
            <tr data-bind="css: (CapacidadDisponibleTransporte >= CapacidadRequeridaTransporte && CapacidadDisponibleHospedaje >= CapacidadRequeridaHospedaje ) ? 'success':  ((CapacidadRequeridaTransporte > 0 && CapacidadDisponibleTransporte <= 0) || (CapacidadRequeridaHospedaje >= 0 && CapacidadDisponibleHospedaje <= 0) ) ? 'error' : 'warning', click: $root.SeleccionarDetalleReprogramacion">
                <td>
                    <label data-bind="text: SiglasInstalacionOrigen"></label>
                </td>
                <td>
                    <label data-bind="text: SiglasInstalacionDestino"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadRequeridaTransporte"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadRequeridaHospedaje"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadDisponibleTransporte"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadDisponibleHospedaje"></label>
                </td>
                <td>
                    <label data-bind="text: NombreItinerario"></label>
                </td>

                <td>
                    <label data-bind="text: CapacidadRestantePasajerosPorProgramar"></label>
                </td>

            </tr>
        </script>
        
        <table class="striped bordered hovered">
            <caption>
                Detalles del Diferir
                <span id="image-loading-cargar-detalles-reprogramacion" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </caption>
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Req. Trans</th>
                    <th>Req. Hosp.</th>
                    <th>Cap. Trans</th>
                    <th>Cap. Hosp.</th>
                    <th>Itinerario</th>
                    <th>Disp.</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'registro-detalles-reprogramacion-solicitud-integral', foreach: capacidadesDiferir }">
            </tbody>
        </table>

    </div>

    <div id="direccionamientos-instalaciones">

        <div data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'">
        
            <script type="text/html" id="registro-direccionamientos-instalaciones-destino-ah">
                <tr data-bind="css: { 'info': SELECCIONADO }, click: $root.SeleccionarDireccionamientoHospedaje">
                    <td>
                        <label data-bind="text: CVE_CTO_GESTOR"></label>
                    </td>
                    <td>
                        <label data-bind="text: CVE_FONDO"></label>
                    </td>
                    <td>
                        <label data-bind="text: CVE_ELEMENTO_PEP"></label>
                    </td>
                    <td>
                        <label data-bind="text: CVE_PROGRAMA_PRESUPUESTAL"></label>
                    </td>
                    <td>
                        <label data-bind="text: CVE_POSICION_PRESUPUESTARIA"></label>
                    </td>
                    <td style="min-width: 190px;">
                        <label data-bind="text: VIGENCIAS"></label>
                    </td>
                    <td>
                        <a href="#" data-bind="click: $root.SeleccionarDireccionamientoHospedaje">Seleccionar</a>
                    </td>
                </tr>
            </script>

            <table id="tblDireccionamientosHospedaje" class="striped bordered hovered" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'">
                <caption>Direccionamientos Alimentación y Hospedaje</caption>
                <thead>
                    <tr>
                        <th>Cto. Gestor</th>
                        <th>Fondo</th>
                        <th>Ele. PEP</th>
                        <th>Prom. Presup.</th>
                        <th>Pos. Fin</th>
                        <th>Vigencia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'registro-direccionamientos-instalaciones-destino-ah', foreach: direccionamientosInstalacionDestinoAH}">
                </tbody>
            </table>

        </div>

        <div data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'">

            <script type="text/html" id="registro-direccionamientos-instalaciones-destino-transporte">
                <tr data-bind="css: { 'info': SELECCIONADO }, click: $root.SeleccionarDireccionamientoTransporte">
                        <td data-bind="text: CVE_CTO_GESTOR"></td>
                        <td>
                            <label data-bind="text: CVE_FONDO"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_ELEMENTO_PEP"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_PROGRAMA_PRESUPUESTAL"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_POSICION_PRESUPUESTARIA"></label>
                        </td>
                        <td style="min-width: 190px;">
                            <label data-bind="text: VIGENCIAS"></label>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $root.SeleccionarDireccionamientoTransporte">Seleccionar</a>
                        </td>
                    </tr>
            </script>

            <table id="tblDireccionamientosTransporte" class="striped bordered hovered" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'">
                <caption>Direccionamientos Transporte</caption>
                <thead>
                    <tr>
                        <th>Cto. Gestor</th>
                        <th>Fondo</th>
                        <th>Ele. PEP</th>
                        <th>Prom. Presup.</th>
                        <th>Pos. Fin</th>
                        <th>Vigencia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'registro-direccionamientos-instalaciones-destino-transporte', foreach: direccionamientosInstalacionDestinoSTP}">
                </tbody>
            </table>

        </div>

    </div>

    <div id="tabla-detalles-solicitud-integral">

        <script type="text/html" id="registro-detalles-solicitud-integral">
            <tr data-bind="css: ElementoSeleccionado() == true ? 'info': '', click: $root.SeleccionarDetalleSolicitudIntegral">
                <td>
                    <input type="checkbox" data-bind="checked: SeleccionadoReprogramacion, enable: DisponibleReprogramacion() && ElementoSeleccionado(), visible: EstadoOcupanteSolicitudIntegral()  == 'SOLICITADO' ? true : false " />
                </td>
                <td>
                    <label data-bind="text: FichaRFCEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: NombreEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: TipoMovimientoPersonal"></label>
                </td>
                <td>
                    <label data-bind="text: CveOrigenDestino "></label>
                </td>
                <td>
                    <label data-bind="text: EstadoOcupanteSolicitudIntegral"></label>
                </td>
                <td>
                    <label data-bind="text: FolioLibretaMar"></label>
                </td>
                <td>
                    <label data-bind="text: VigenciaLibretaMar"></label>
                </td>
            </tr>
        </script>
        
        <table class="striped bordered hovered">
            <caption data-bind="text: 'Detalles de la Solicitud Integral: ' + solicitudIntegral.FolioSolicitudIntegral()"></caption>
            <thead>
                <tr>
                    <th>Diferir</th>
                    <th>Ficha/RFC</th>
                    <th>Nombre</th>
                    <th>Movimiento</th>
                    <th>Origen-Destino</th>
                    <th>Estado</th>
                    <th>Folio Libreta</th>
                    <th>Vigencia Libreta</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'registro-detalles-solicitud-integral', foreach: detallesSolicitudIntegral }">
            </tbody>
        </table>


    </div>


    <div id="tabla-detalles-nueva-solicitud-integral">

        <script type="text/html" id="registro-detalles-nueva-solicitud-integral">
            <tr data-bind="">
                <td>
                    <label data-bind="text: FichaRFCEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: NombreEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: TipoMovimientoPersonal"></label>
                </td>
                <td>
                    <label data-bind="text: CveOrigenDestino "></label>
                </td>
                <td>
                    <label data-bind="text: EstadoOcupanteSolicitudIntegral"></label>
                </td>
                <td>
                    <label data-bind="text: FolioLibretaMar"></label>
                </td>
                <td>
                    <label data-bind="text: VigenciaLibretaMar"></label>
                </td>
            </tr>
        </script>
        
        <table class="striped bordered hovered">
            <caption data-bind="text: 'Detalles de la Solicitud Integral Diferida: ' + solicitudIntegralDiferida.FolioSolicitudIntegral()"></caption>
            <thead>
                <tr>
                    <th>Ficha/RFC</th>
                    <th>Nombre</th>
                    <th>Movimiento</th>
                    <th>Origen-Destino</th>
                    <th>Estado</th>
                    <th>Folio Libreta</th>
                    <th>Vigencia Libreta</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'registro-detalles-nueva-solicitud-integral', foreach: detallesSolicitudIntegralDiferida }">
            </tbody>
        </table>

    </div>

    <input id="btnDiferir" type="button" data-bind="click: DiferirSolicitudIntegral" value="Diferir"/>
    <span id="image-loading-reprogramar" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>

    <!-- Llamada a los scripts de la página- -->
    <script type="text/javascript" charset="UTF-8" >
        require(['app/solicitud-integral/solicitudIntegralDiferirController', 'domReady!'], function (solicitudIntegralDiferirController)
        {
            var solicitud_integral_diferir_controller = new solicitudIntegralDiferirController();
            solicitud_integral_diferir_controller.Init();
        });
    </script>

</div>

