﻿
@model String

@{
    ViewBag.Title = "Solicitud Integral: Edición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="solicitud-integral">

    <h2 id="titulo-solicitud-integral" data-bind="text: solicitudIntegral.IdSolicitudIntegral() > 0 ? 'Solicitud Integral: ' + solicitudIntegral.FolioSolicitudIntegral() + ' [' + solicitudIntegral.EstadoSolicitudIntegral() + ']': 'Nueva Solicitud Integral'" >Nueva Solicitud Integral</h2>

    <input id="txtDatosSolicitudIntegral" type="hidden" value="@Model"/>
    
    <div class="grid">

        <div class="span10">
            <!--<button id="btnNuevaSolicitudIntegral" class="btn" data-bind="click: NuevaSolicitudIntegral" type="button" value="Nuevo" title="Nueva Solicitud Integral"><img src="~/Content/images/defaulticon/16x16/document.png"/></button>-->
            <button id="btnCancelarSolicitudIntegral" class="btn" data-bind="click: CancelarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Cancelar" title="Cancelar Solicitud Integral"><img src="~/Content/images/defaulticon/16x16/cancel.png"/></button>
            
            @if(SolicitudIntegralMVC.Controllers.LogOnController.CurrentUserIsInRol(new string [] {"VENTANILLA"}, Context.Session))
            {
            <button id="btnConfirmarSolicitudIntegral" class="btn" data-bind="click: ConfirmarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Confirmar" title="Confirmar Solicitud Integral"><img src="~/Content/images/defaulticon/16x16/check.png"/></button>
            }
    
            <input id="txtFolioSolicitudIntegral" type="text" data-bind="value: FolioSolicitudIntegralBusqueda" />
            <button id="btnBuscarFolioSolicitud" class="btn" data-bind="enable: FolioSolicitudIntegralBusqueda() != '' ? true:false, click: ObtenerDatosSolicitudIntegralEditar" type="button" title="Busqueda de Solicitud Integral"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
            <span id="image-loading-cargar-datos-solicitud" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <!--<button id="btnEditarObservaciones" class="btn" data-bind="click: VerEditorObservaciones" type="button" title="Observaciones"><img src="~/Content/images/defaulticon/16x16/document.png"/></button>-->
        </div>

        <div class="span6">
            
            <a id="linkImprimirSolicitud" data-bind="attr: { href: rootDir + 'SolicitudIntegral/Imprimir/' + solicitudIntegral.FolioSolicitudIntegral()  }, visible: solicitudIntegral.IdSolicitudIntegral() > 0 ? true: false">Imprimir Solicitud</a>
            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0 ? true: false"> | </span>
            <a id="linkImprimirBoleto" data-bind="attr: { href: rootDir + 'SolicitudIntegral/ImprimirBoletos/' + solicitudIntegral.FolioSolicitudIntegral() }, visible: solicitudIntegral.IdSolicitudIntegral() > 0 ? true : false">Imprimir Boletos</a> 

            <!--
            <a id="linkImprimirSolicitud" data-bind="attr: { href: 'http://zmccrsapp01.pemex.pmx.com/ReportServer_STIPRODCCRS/Pages/ReportViewer.aspx?/LOGISTICA/STP_2013/SolicitudIntegral/RptSolicitud_Integral&rs:Command=Render&rc:Parameters=true&rs:Format=PDF&rc:toolbar=false&SOLICITUD=' + solicitudIntegral.FolioSolicitudIntegral()  }, visible: solicitudIntegral.IdSolicitudIntegral() > 0 ? true: false">Imprimir Solicitud</a>
            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0 ? true: false"> | </span>
            <a id="linkImprimirBoleto" data-bind="attr: { href: 'http://zmccrsapp01.pemex.pmx.com/ReportServer_STIPRODCCRS/Pages/ReportViewer.aspx?/LOGISTICA/STP_2013/SolicitudIntegral/RptBoleto&rs:Command=Render&rc:Parameters=true&rs:Format=PDF&rc:toolbar=false&SOLICITUD=' + solicitudIntegral.FolioSolicitudIntegral()  }, visible: solicitudIntegral.IdSolicitudIntegral() > 0  && solicitudIntegral.EstadoSolicitudIntegral() == 'CONFIRMADO' ? true: false">Imprimir Boletos</a>
            -->
        </div>

        <div id="tipo-solicitud" class="row">
        
            <label class="span2">Tipo</label>

            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="text: TipoSolicitudSeleccionadaCheckBox"></label></span>
            <span id="radio-tipo-solicitud" data-bind="visible: solicitudIntegral.IdSolicitudIntegral() <= 0">
                <!--<input type="radio" id="radio1" name="tipoSolicitudIntegral" value="SOLO HOSPEDAJE" data-bind="checked: solicitudIntegral.TipoSolicitudIntegral" /><label for="radio1">Solo Hospedaje</label>-->
                <input type="radio" id="radio2" name="tipoSolicitudIntegral" value="SOLO TRANSPORTE" data-bind="checked: TipoSolicitudSeleccionadaCheckBox" /><label for="radio2">Solo Transporte</label>
                <input type="radio" id="radio3" name="tipoSolicitudIntegral" value="HOSPEDAJE Y TRANSPORTE" data-bind="checked: TipoSolicitudSeleccionadaCheckBox" /><label for="radio3">Alimentos, Hospedaje y/o Transporte</label>
            </span>

        </div>

        <div id="tipo-personal" class="row">
        
            <label class="span2">Personal</label>

            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="text: solicitudIntegral.TipoPersonal"></label></span>
            <span id="radio-tipo-personal" data-bind="visible: solicitudIntegral.IdSolicitudIntegral() <= 0">
                <input type="radio" id="radio10" name="tipoPersonal" value="PEMEX" data-bind="checked: solicitudIntegral.TipoPersonal" /><label for="radio10">PEMEX</label>
                <input type="radio" id="radio11" name="tipoPersonal" value="COMPAÑIA" data-bind="checked: solicitudIntegral.TipoPersonal" /><label for="radio11">COMPAÑIA</label>
                <input type="radio" id="radio12" name="tipoPersonal" value="COMODATARIO" data-bind="checked: solicitudIntegral.TipoPersonal" /><label for="radio12">COMODATARIO</label>
            </span>
        
        </div>

        <div id="tipo-transporte" class="row">
        
            <label class="span2">Transporte</label>

            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="    text: solicitudIntegral.TipoTransporte"></label></span>
            <span id="radio-tipo-transporte" data-bind="visible: solicitudIntegral.IdSolicitudIntegral() <= 0">
                <input type="radio" id="radio4" name="tipoTransporte" value="AEREO" data-bind="checked: solicitudIntegral.TipoTransporte" /><label for="radio4">Aereo</label>
                <input type="radio" id="radio5" name="tipoTransporte" value="MARITIMO" data-bind="checked: solicitudIntegral.TipoTransporte" /><label for="radio5">Maritimo</label>
                <span data-bind="visible: EsVisibleMediosPropios">
                    <input type="radio" id="radio14" name="tipoTransporte" value="MEDIOS PROPIOS" data-bind="checked: solicitudIntegral.TipoTransporte" /><label for="radio14">Medios Propios <span class="fg-color-red">(No requiere transporte de PEMEX)</span></label>
                </span>
            </span>

        </div>

        <div id="tipo-servicio" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoTransporte() != 'MEDIOS PROPIOS'" class="row">

            <label class="span2">Servicio</label>

            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="    text: solicitudIntegral.TipoServicio"></label></span>
            <span id="radio-tipo-servicio" data-bind="visible: solicitudIntegral.IdSolicitudIntegral() <= 0">

                <span data-bind="visible: EsVisibleTipoServicioCambioGuardiaDirecto">
                    <input type="radio" id="chkTipoServcioCambioGuardia" name="tipoServicio" value="CAMBIO DE GUARDIA" data-bind="checked: solicitudIntegral.TipoServicio" /><label for="chkTipoServcioCambioGuardia">Cambio de Guardia Directo</label>
                </span>

                <input type="radio" id="chkTipoServcioRegular" name="tipoServicio" value="REGULARES" data-bind="checked: solicitudIntegral.TipoServicio" /><label for="chkTipoServcioRegular">Movimiento Regular</label>
                <input type="radio" id="radio8" name="tipoServicio" value="LATERALES" data-bind="checked: solicitudIntegral.TipoServicio" /><label for="radio8">Movimiento Interplataforma</label>
                <input type="radio" id="radio9" name="tipoServicio" value="DISPOSICION" data-bind="checked: solicitudIntegral.TipoServicio" /><label for="radio9">Disposición</label>
                <span data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() == 'SOLO TRANSPORTE'">
                    <input type="radio" id="chkTipoServcioEmergencia" name="tipoServicio" value="EMERGENCIA" data-bind="checked: solicitudIntegral.TipoServicio" /><label for="chkTipoServcioEmergencia">Emergencia</label>
                </span>
            </span>

        </div>

    </div>

    <div class="grid" data-bind="visible: PermitirCapturaCamposSolicitudIntegral">

        <div id="fecha-subida" class="row">
            <label class="span2">Subida/Serv.</label>
            <span class="input-control text span4 input-append">
                <input id="txtFechaSubida" type="text" name="txtFechaSubida" data-bind="value: solicitudIntegral.FechaSubida" placeholder="Fecha Subida"/>
            </span>
            <button id="btnMostrarCalendarioFechaSubida" class="btn" data-bind="click: MostrarCalendarioFechaSubida" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>
        </div>
    
        <div id="fecha-bajada" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'" class="row">
            <label class="span2">Bajada</label>
            <span class="input-control text span4 input-append">
                <input class="span4" id="txtFechaBajada" type="text" name="txtFechaBajada" data-bind="value: solicitudIntegral.FechaBajada" placeholder="Fecha Bajada"/>
            </span>
            <button id="btnMostrarCalendarioFechaBajada" class="btn" data-bind="click: MostrarCalendarioFechaBajada" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>
        </div>
    
        <div id="ficha-solicitante" class="row">
            <label class="span2">Solicitante</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtSolicitante" type="text" name="txtSolicitante" data-bind="value: solicitudIntegral.FichaSolicitante" placeholder="Ficha Solicitante" />
            </div>
            <button id="btnValidarFichaSolitante" class="btn" type="button" data-bind="enable: solicitudIntegral.FichaSolicitante() != '' ? true : false, click: ValidarFichaSolitante"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

            <span id="image-loading-solicitante" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <span data-bind="attr: { 'title': solicitudIntegral.DescripcionSubdivisionSolicitante(), 'class': solicitudIntegral.FichaSolicitante() == null ? 'fg-color-red' : ''  }"><label data-bind="text: solicitudIntegral.FichaSolicitante() == null ? 'No se encontro a ningun solicitante con esa ficha' : '[' + solicitudIntegral.SubdivisionSolicitante() + ']'"></label><label data-bind="text: solicitudIntegral.NombreSolicitante"></label></span>
        </div>

        <div id="ficha-autorizador" class="row">
            <label class="span2">Autorizador</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtAutorizador" type="text" name="txtAutorizador" data-bind="value: solicitudIntegral.FichaAutorizador" placeholder="Ficha Autorizador"/>
            </div>

            <button id="btnValidarFichaAutorizador" class="btn" type="button" data-bind="enable: solicitudIntegral.FichaAutorizador() != '' ? true : false, click: ValidarAutorizador"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
            <button id="btnMostrarPermisosAutorizador" class="btn" type="button" data-bind="click: VerPermisosAutorizador"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
            
            <!-- CONSULTA INSTALACIONES DESTINO -->
            <button id="btnConsultaInstalacionesDestino" class="btn" type="button" data-bind="click: ConsultaInstalacionesDestinoAutorizador"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
            <!-- CONSULTA INSTALACIONES DESTINO -->
            <span id="image-loading-autorizador" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <span data-bind="attr: { 'title': solicitudIntegral.DescripcionSubdivisionAutorizador(), 'class': solicitudIntegral.FichaAutorizador() == null ? 'fg-color-red' : '' }"><label data-bind="text: solicitudIntegral.FichaAutorizador() == null ? 'No se encontro a ningun autorizador con esa ficha' : '[' + solicitudIntegral.SubdivisionAutorizador() + ']'"></label><label data-bind="text: solicitudIntegral.NombreAutorizador"></label></span>

        </div>

        <div id="hora-salida" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'DISPOSICION'" class="row">
            
            <label class="span2">Hora de Salida</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtHoraSalida" type="text" name="txtHoraSalida" data-bind="value: solicitudIntegral.HoraSalidaDisposicion" placeholder="Hora Salida"/> 
            </div>

        </div>

        <div id="numero-contrato" data-bind="visible: solicitudIntegral.TipoPersonal() != 'PEMEX'" class="row">
            <label class="span2">Contrato</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtContrato" type="text" name="txtContrato" data-bind="value: solicitudIntegral.NumeroContrato" placeholder="No. Contrato"/> 
            </div>
            
            <button id="btnConsultarContrato" class="btn" type="button" data-bind="click: ConsultarContrato"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

            <span id="image-loading-contrato" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <label data-bind="text: solicitudIntegral.NombreAcreedor"></label> - <label data-bind="text: solicitudIntegral.RFCAcreedor"></label>
        </div>

        <div id="folio-especial-transporte" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            <label class="span2">F.Esp.Trans. Ida</label>
            
            <div class="input-control text span4 input-append">
                <input id="txtFolioEspecialTransporteIda" type="text" name="txtFolioEspecialTransporteIda" data-bind="" placeholder="Folio Especial Transporte Ida" value=""/> 
            </div>

            <button id="btnConsultarFolioEspecialTranspIda" class="btn" type="button" data-bind="click: ConsultarFolioEspecialTransporteIda"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

            <span id="image-loading-consulta-folio-especial-transporte-ida" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <label id="lblEspaciosDisponiblesFolioEspecialTransporteIda"></label>
            
        </div>

        <div id="hora-itinerario" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            
            <label class="span2">Itinerario Transp.</label>
            
            <div class="input-control select span5">
                <!--<select id="cmbItinerarios" data-bind="options: ItinerariosTransporteIda, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteIda"></select> -->
                <select id="cmbItinerarios" data-bind="options: ItinerariosTransporteIda, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteIda,  event: { change: ItinerarioSelectionChanged }"></select>
            </div>

            <div class="span3">
                <button id="btnActuaizarItinerarios" class="btn" type="button" data-bind="click: ConsultaItinerarios"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <button id="btnMostrarItinerariosDisponibles" class="btn" type="button" data-bind="click: VerListadoItinerariosDisponibles"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
                <span id="image-loading-itinerarios" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                
                <button id="btnMostrarBusquedaxInstalacion" title="Busqueda de Itinerarios por instalación" class="btn" type="button" data-bind="click: MostrarBusquedaxInstalacion, visible: solicitudIntegral.TipoTransporte() == 'MARITIMO'"><img src="~/Content/images/defaulticon/16x16/notepad_2.png"/></button>
                <button id="btnMostrarItinerarioDestinos" title="Ver Detalles del Itinerario" class="btn" type="button" data-bind="visible: solicitudIntegral.FkIdItinerarioTransporteIda() > 0, click: VerDestinosItinerarioIda, visible: solicitudIntegral.TipoTransporte() == 'MARITIMO'"><img src="~/Content/images/defaulticon/16x16/list_num_icon.png"/></button>
            </div>

            <div id="capacidad-transporte" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadTransporte"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporte"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <button id="btnMostrarCapacidadItinerarioDetalleIda" class="btn" type="button" data-bind="visible: solicitudIntegral.FkIdItinerarioTransporteIda() > 0, click: VerCapacidadItinerarioDetalleIda"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
                <span id="image-loading-capacidad-transporte" class="loading-image" style="display: none"><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

        </div>

        <!-- seccion de movimientos de retorno -->
        <div id="incluye-retorno" class="row" data-bind="visible: EsVisibleOpcionRetorno">

           <div id="incluir-retorno" class="row">
                
               <label class="span2">Requiere Retorno</label>
            
                <div class="input-control text span4 input-append">
                    <input id="chkIncluyeRetorno" type="checkbox" data-bind="checked: solicitudIntegral.RequiereRetorno"/>
                </div>

            </div>

            

        </div>
        <!-- --------------------------------- -->
        
        <div data-bind="visible: solicitudIntegral.RequiereRetorno() || (solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA')">

            <!-- De momento se va a dejar invisible la fecha de bajada -->
            <div id="fecha-bajada-retorno" class="row" data-bind="visible: false">
                <label class="span2">Bajada Retorno</label>
                <span class="input-control text span4 input-append">
                    <input class="span4" id="txtFechaBajadaRetorno" type="text" name="txtFechaBajadaRetorno" data-bind="value: solicitudIntegral.FechaBajada" placeholder="Fecha Bajada"/>
                </span>
                <button id="btnMostrarCalendarioFechaBajadaRetorno" class="btn" data-bind="click: MostrarCalendarioFechaBajadaRetorno" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>
            </div>
        
            <div id="folio-especial-transporte-retorno" data-bind="" class="row">
                <label class="span2">F.Esp.Trans. Ret</label>
            
                <div class="input-control text span4 input-append">
                    <input id="txtFolioEspecialTransporteretorno" type="text" name="txtFolioEspecialTransporteRetorno" data-bind="" placeholder="Folio Especial Transporte Ret" value=""/> 
                </div>

                <button id="btnConsultarFolioEspecialTranspRetorno" class="btn" type="button" data-bind="click: ConsultarFolioEspecialTransporteRetorno"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

                <span id="image-loading-consulta-folio-especial-transporte-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                <label id="lblEspaciosDisponiblesFolioEspecialTransporteRetorno"></label>
            
            </div>

            <div id="hora-itinerario-regreso" class="row">
            
                <label class="span2">Itinerario Retorno.</label>
            
                <div class="input-control select span5">
                    <select id="cmbItinerariosRetorno" data-bind="options: ItinerariosTransporteRetorno, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteRetorno,  event: { change: ItinerarioRetornoSelectionChanged }"></select>    
                </div>
            
                <div class="span2">
                    <button id="btnActualizarItinerarios" class="btn" type="button" data-bind="click: ConsultaItinerarios"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                    <span id="image-loading-itinerarios-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                </div>

                <div id="capacidad-transporte-retorno" class="span3" >
                    <label>Disp:</label>
                    <label id="lblCapacidadTransporteRetorno"></label>
                    <button class="btn" type="button" data-bind="click: ConsultarCapacidadTransporteRetorno"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                    <button id="btnMostrarCapacidadItinerarioDetalleRetorno" class="btn" type="button" data-bind="visible: solicitudIntegral.FkIdItinerarioTransporteRetorno() > 0, click: VerCapacidadItinerarioDetalleRetorno"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
                    <span id="image-loading-capacidad-transporte-retorno" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                </div>

            </div>

        </div>

        <div id="instalaciones-origen" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            <label class="span2">Ints. Origen</label>
            <div class="input-control select span4">
                <select id="cmbInstalacionesOrigen" class="loading-left" data-bind="options: instalacionesOrigenDisponibles, optionsText: 'DESCRIPCION_INSTALACION', optionsValue : 'ID_C_M_INSTALACION', optionsCaption: '[Selecciona una Instalacion Origen]', value: solicitudIntegral.FKidOrigenSolicitud,  event: { change: InstalacionOrigenSelectionChanged }"></select>    
            </div>
            
            <div class="span2">
                <button id="btnCambiarInstalacionOrigen" class="btn" type="button"><img src="~/Content/images/defaulticon/16x16/media-shuffle.png"/></button>
                <span id="image-loading-instalacion-origen" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>
            
        </div>

        <div id="folio-especial-hospedaje" class="row" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'">

            <label class="span2">Fol.Esp.Hosp.</label>

            <div class="input-control select span4">
                <input type="text" id="txtFolioEspecialHospedaje" name="txtFolioEspecialHospedaje" placeholder="Folio Especial Hospedaje" />
            </div>

            <button id="btnConsultarFolioEspecialHospedaje" class="btn" type="button" data-bind="click: ConsultarFolioEspecialHospedaje"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>

            <span id="image-loading-consulta-folio-especial-hospedaje" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            <label id="lblEspaciosDisponiblesFolioEspecialHospedaje"></label>

        </div>

        <div id="instalaciones-destino" class="row">

            <label class="span2">Inst. Destino</label>

            <div class="input-control text select span4">
                <select id="cmbInstalacionesDestino" data-bind="options: instalacionesDestinoDisponibles, optionsText: 'DESCRIPCION_INSTALACION', optionsValue: 'ID_C_M_INSTALACION', optionsCaption: '[Selecciona una Instalacion Destino]', value: solicitudIntegral.FKidDestinoSolicitud, event: { change: InstalacionDestinoSelectionChanged }"></select>    
            </div>

            <div class="span2">
                <button id="btnCambiarInstalacionDestino" class="btn" type="button"><img src="~/Content/images/defaulticon/16x16/media-shuffle.png"/></button>
                <span id="image-loading-instalacion-destino" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

             <div id="capacidad-hospedaje" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'" class="span3" >
                <label>Disp:</label>
                <label id="lblCapacidadHospedaje"></label>
                <button class="btn" type="button" data-bind="click: ConsultarCapacidadHospedaje"><img src="~/Content/images/defaulticon/16x16/refresh.png"/></button>
                <button id="btnMostrarCapacidadHospedaje" class="btn" type="button" data-bind="visible: solicitudIntegral.FKidDestinoSolicitud() > 0, click: VerCapacidadHospedajePorRangoFechas"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
                <span id="image-loading-capacidad-hospedaje" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </div>

        </div>

        <div id="direccionamientos-instalaciones" data-bind="visible: solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'">
        
            <div data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'">

                <script type="text/html" id="registro-direccionamientos-instalaciones-destino-ah">
                    <tr data-bind="css: { 'info': SELECCIONADO }, click: $root.SeleccionarDireccionamientoHospedaje">
                        <td>
                            <label data-bind="text: CVE_CTO_GESTOR"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_FONDO"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_ELEMENTO_PEP"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_PROGRAMA_PRESUPUESTAL"></label>
                        </td>
                        <td>
                            <label data-bind="text: CVE_POSICION_PRESUPUESTARIA"></label>
                        </td>
                        <td style="min-width: 190px;">
                            <label data-bind="text: VIGENCIAS"></label>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $root.SeleccionarDireccionamientoHospedaje">Seleccionar</a>
                        </td>
                    </tr>
                </script>

                <table id="tblDireccionamientosHospedaje" class="striped bordered hovered">
                    <caption>Direccionamientos Alimentación y Hospedaje</caption>
                    <thead>
                        <tr>
                            <th>Cto. Gestor</th>
                            <th>Fondo</th>
                            <th>Ele. PEP</th>
                            <th>Prom. Presup.</th>
                            <th>Pos. Fin</th>
                            <th>Vigencia</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { name: 'registro-direccionamientos-instalaciones-destino-ah', foreach: direccionamientosInstalacionDestinoAH}">
                    </tbody>
                </table>
        
            </div>

            <div data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'">

                <script type="text/html" id="registro-direccionamientos-instalaciones-destino-transporte">
                    <tr data-bind="css: { 'info': SELECCIONADO }, click: $root.SeleccionarDireccionamientoTransporte">
                            <td data-bind="text: CVE_CTO_GESTOR"></td>
                            <td>
                                <label data-bind="text: CVE_FONDO"></label>
                            </td>
                            <td>
                                <label data-bind="text: CVE_ELEMENTO_PEP"></label>
                            </td>
                            <td>
                                <label data-bind="text: CVE_PROGRAMA_PRESUPUESTAL"></label>
                            </td>
                            <td>
                                <label data-bind="text: CVE_POSICION_PRESUPUESTARIA"></label>
                            </td>
                            <td style="min-width: 190px;">
                                <label data-bind="text: VIGENCIAS"></label>
                            </td>
                            <td>
                                <a href="#" data-bind="click: $root.SeleccionarDireccionamientoTransporte">Seleccionar</a>
                            </td>
                        </tr>
                </script>

                <table id="tblDireccionamientosTransporte" class="striped bordered hovered" >
                <caption>Direccionamientos Transporte</caption>
                <thead>
                    <tr>
                        <th>Cto. Gestor</th>
                        <th>Fondo</th>
                        <th>Ele. PEP</th>
                        <th>Prom. Presup.</th>
                        <th>Pos. Fin</th>
                        <th>Vigencia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'registro-direccionamientos-instalaciones-destino-transporte', foreach: direccionamientosInstalacionDestinoSTP}">
                </tbody>
        
                </table>

            </div>

        </div>

        <div id="detalles-solicitud-integral" data-bind="visible: solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'">

            <div id="agregar-personal-subida">
         
                <div>
                    <label>Personal de Subida</label> 
                    <a href="#" data-bind="click: function() { AltaEmpleados('SUBIDA'); }">Alta de Empleados</a>
                    <span id="image-loading-personal-subida" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                </div>

                <ul id="listAgregarPersonalSubida">
                </ul>

            </div>

            <div id="agregar-personal-bajada" data-bind="visible: solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'">
            
                <div>
                    <label>Personal de Bajada</label> <a href="#" data-bind="click: function() { AltaEmpleados('BAJADA'); }">Alta de Empleados</a>
                    <span id="image-loading-personal-bajada" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
                </div>

                <ul id="listAgregarPersonalBajada">
                </ul>
            

            </div>

            <input id="btnAgregarDetalleMultiple" type="button" data-bind="click: AgregarDetalleMultipleSolicitud" value="Agregar Detalles"/>
            <span id="image-loading-agregar-personal" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
    
        </div>

        <div id="tabla-detalles-solicitud-integral">

            <script type="text/html" id="registro-detalles-solicitud-integral">
                <tr>
                    <td>
                        <label data-bind="text: FichaRFCEmpleado"></label>
                    </td>
                    <td>
                        <label data-bind="text: NombreEmpleado"></label>
                    </td>
                    <td>
                        <label data-bind="text: TipoMovimientoPersonal"></label>
                    </td>
                    <td>
                        <label data-bind="text: ClaveInstalacionOrigen"></label> - 
                        <label data-bind="text: ClaveInstalacionDestino"></label>
                        <a href="#" data-bind="visible: TipoMovimientoPersonal() == 'SUBIDA', click: $root.CambiarInstalacionOrigenDestino">Cambiar</a>
                    </td>
                    <td>
                        <label data-bind="text: EstadoOcupanteSolicitudIntegral"></label>
                    </td>
                    <td>
                        <label data-bind="text: FolioLibretaMar"></label>
                    </td>
                    <td>
                        <label data-bind="text: VigenciaLibretaMar"></label>
                    </td>
                    <td>
                        <a href="#" data-bind="click: $root.VerDetallesEmpleado">Detalle</a>
                        <a href="#" data-bind="click: $root.EliminarDetalleSolicitudIntegral">Eliminar</a>
                        <span style="display: none" class="loading-image eliminar" ><img data-bind="attr: { src: rootDir + 'Content/images/icons/loading.gif' }" src="" /></span>
                    </td>
                </tr>
            </script>
        
            <table class="striped bordered hovered">
                <caption>Detalles de la Solicitud Integral</caption>
                <thead>
                    <tr>
                        <th>Ficha/RFC</th>
                        <th>Nombre</th>
                        <th>Movimiento</th>
                        <th>Origen-Destino</th>
                        <th>Estado</th>
                        <th>Folio Libreta</th>
                        <th>Vigencia Libreta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'registro-detalles-solicitud-integral', foreach: detallesSolicitudIntegral }">
                
                </tbody>
            </table>

        </div>

    </div>

    <!-- Llamada a los scripts de la página- -->
    <script type="text/javascript" charset="UTF-8" >
        require(['app/solicitud-integral/solicitudIntegralController', 'domReady!'], function (solicitudIntegralController)
        {
            var solicitud_integral_controller = new solicitudIntegralController();
            solicitud_integral_controller.Init();
        });
    </script>

</div>
