﻿ <div style="width: 220px;">
    <a href="#" data-bind="attr: { 'href': $parent.entity().EditLink, 'title': 'Editar: ' + $parent.entity().FolioSolicitudIntegral }, visible: $parent.entity().EstadoSolicitudIntegral != 'CANCELADO'" title="Editar"><img data-bind="    attr: { 'alt': 'Editar: ' + $parent.entity().FolioSolicitudIntegral }"  alt="Editar" src="@Url.Content("~/Content/images/defaulticon/16x16/pencil.png")"/></a>
    <a href="#" data-bind="attr: { 'href': $parent.entity().ReprogramarLink, 'title': 'Transferir: ' + $parent.entity().FolioSolicitudIntegral }, visible: $parent.entity().EstadoSolicitudIntegral != 'CANCELADO' && $parent.entity().TipoTransporte != 'MARITIMO'" title="Transferir"><img data-bind="    attr: { 'alt': 'Transferir: ' + $parent.entity().FolioSolicitudIntegral }"  alt="Transferir" src="@Url.Content("~/Content/images/defaulticon/16x16/calendar.png")"/></a>
    <a href="#" data-bind="attr: { 'href': $parent.entity().DiferirLink, 'title': 'Diferir: ' + $parent.entity().FolioSolicitudIntegral }, visible: ($parent.entity().EstadoSolicitudIntegral != 'CANCELADO') && (($parent.entity().TipoPersonal == 'COMPAÑIA' && $parent.entity().TipoTransporte == 'MARITIMO') ? false : true)" title="Diferir"><img data-bind="attr: { 'alt': 'Diferir: ' + $parent.entity().FolioSolicitudIntegral }"  alt="Diferir" src="@Url.Content("~/Content/images/defaulticon/16x16/media-shuffle.png")"/></a>
    <a href="#" data-bind="attr: { 'href': $parent.entity().FirmaElectronicaLink, 'title': 'Firmar Electronicamente: ' + $parent.entity().FolioSolicitudIntegral }, visible: ($parent.entity().EstadoSolicitudIntegral == 'SOLICITADO') ? true : false" title="Diferir"><img data-bind="attr: { 'alt': 'Firmar: ' + $parent.entity().FolioSolicitudIntegral }"  alt="Firmar" src="@Url.Content("~/Content/images/defaulticon/16x16/check.png")"/></a>
    <a href="#"  data-bind="click: $parent.entity().FolioSolicitudIntegral" title="Editar Observaciones"><img data-bind="    attr: { 'alt': 'Editar Observaciones: ' + $parent.entity().FolioSolicitudIntegral }"  alt="Editar Observaciones" src="@Url.Content("~/Content/images/defaulticon/16x16/pencil.png")"/></a>
</div>
