﻿@{
    ViewBag.Title = "Solicitud Integral: Listado de Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="listado-solicitudes-integrales" class="grid">

    <div class ="row">
        <div class="span5">
           <h2>Listado de Solicitudes Integrales</h2>
        </div>
        <div class="span1">
            <span id="image-loading-listado-solicitudes" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
        </div>
    </div>
      <!--Inicia Elementos de Busqueda- -->
    <div class="row">
        <label class="span2"><strong>Buscar por: </strong></label>
        <label class="span2">Ficha autoriza: </label>
        <span class="input-control text span2">
            <input id="txtFicha" type="text" />
        </span>
        <span class="span1"></span>
        <span class="span1"><strong>Y / O </strong></span>


        <label class="span2">Fecha:</label>
        <span class="input-control text span2 input-append">
            <input type="text" id="txtFecha" />
        </span>


        <span class="span1"></span>
        <input id="btnBuscar" type="button" data-bind="click: ObtenerSolicitudesIntegrales" value="Buscar" class="span2" />
    </div>
    <!--Fin Elementos de Busqueda -->

    <div data-bind="koGrid: gridSolicitudesIntegrales" class="small"></div>
    
    @if(SolicitudIntegralMVC.Controllers.LogOnController.CurrentUserIsInRol(new string [] {"VENTANILLA"}, Context.Session))
    {
    <input id="btnConfirmarSolicitudes" type="button" data-bind="click: ConfirmacionMultipleSolicitudesIntegrales" value="Confirmar"/>
    <span id="image-loading-confirmar-solicitudes" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
    }
    
    <input id="btnImprimirBoletos" type="button" data-bind="click: ImprimirBoletos" value="Imprimir Boletos"/>
    <span id="image-loading-imprimir-boletos" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>

    <label data-bind="text: FoliosSeleccionados"></label>

    <!-- Llamada a los scripts de la página- -->
    <script type="text/javascript" charset="UTF-8" >
        require(['app/solicitud-integral/listadoSolicitudesIntegralesController', 'domReady!'], function (listadoSolicitudesIntegralesController)
        {
            var listado_solicitudes_integrales_controller = new listadoSolicitudesIntegralesController();
            listado_solicitudes_integrales_controller.Init();
        });
    </script>
    
</div>    