﻿
<div id="frmListaDestinosItinerario">
    <div class="grid">
        <div class="row">                        
            <strong class="span3">Clave Itinerario:</strong>
            <span class="label span2" id="txtcve_itinerario" data-bind="text: cve_itinerario"></span>
        </div>
        <div class="row">             
                <div class="row">            
                    <strong class="span3">Descripción:</strong>
                    <span class="label span2" id="txtdes_itinerario" data-bind="text: des_itinerario" ></span>
                </div>
                <div class="row"> 
                    <strong class="span3">Clave del nodo origen:</strong>
                    <span class="label span2" id="txtcve_nodo_origen"  data-bind="text: cve_nodo_origen"></span>
                </div>
                <div class="row"> 
                    <strong class="span3">Clave del nodo destino:</strong>
                    <span class="label span2" id="txtcve_nodo_destino" data-bind="text: cve_nodo_destino"></span>
                </div>
                <div class="row"> 
                    <strong class="span3">Clave del tipo:</strong>
                    <span class="label span2" id="txtcve_tipo_servicio" data-bind="text: cve_tipo_servicio"></span>
                </div>
                <div class="row"> 
                    <strong class="span3">Descripción del tipo del servicio</strong>
                    <span class="label span2" id="txtdes_tipo_servicio" data-bind="text: des_tipo_servicio"></span>
                </div>
                <div class="row"> 
                    <strong class="span3">Clave del Área de Servicio</strong>
                    <span class="label span2" id="txtCVE_AREA_SERVICIO" data-bind="text: CVE_AREA_SERVICIO"></span>
                </div>
        </div>
            <div class="row">
                <div class="">
                    <div class="scrollingArea">
                        <table class="scrolling">
                            <thead>
                                <tr>
                                    <!--th class="ClaveItinerio">Clave Itinerario</!--th>
                                    <th class="DescripcionItinerario">Descripcion Itinerario</th>
                                    <th class="ClaveNodo">Clave Nodo</th>
                                    <th class="ClaveNodoItinerario">Clave Nodo Itinerario</th>-->
                                    <th class="SIGLAS_INSTALACION">Siglas de Instalación</th>
                                    <th class="NOMBRE_INSTALACION">Nombre de la Instalación</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: listado_Destinos_Itinerario">
                                <tr>
                                    <!--<td class="ClaveItinerio" data-bind="text: $data.cve_itinerario" ></td>
                                    <td class="DescripcionItinerario" data-bind="text: $data.des_itinerario" ></td>
                                    <td class="ClaveNodo" data-bind="text: $data.cve_nodo_origen" ></td>
                                    <td class="ClaveNodoDestino" data-bind="text: $data.cve_nodo_destino" ></td>-->
                                    <td class="SIGLAS_INSTALACION" data-bind="text: $data.SIGLAS_INSTALACION" ></td>
                                    <td class="NOMBRE_INSTALACION" data-bind="text: $data.NOMBRE_INSTALACION" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <input id="btnCerrar" type="button" value="Cerrar" />
            </div>
    </div>
</div>