﻿<div id="frmObservacionVentanillaLogistica">
    <div class="grid">
        <div class="row">
            <label class="span2">Observaciones de Ventanilla</label>
            <textarea class="span4"></textarea>
        </div>
        <div class="row">
            <label class="span2">Observaciones del Administrador</label>
            <textarea class="span4"></textarea>
        </div>
        <div class="row">
            <label class="span2">Solicitud Resguardada</label>
            <input type="radio" class="span1" />
        </div>
        <div class="row">
            <input type="button" class="btn" value="Guardar" data-bind="click: GuardarObservaciones"/>
        </div>
    </div>
</div>
