@model String

@{
    ViewBag.Title = "Solicitud Integral: Reprogramaci&oacuten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="solicitud-integral-reprogramacion">

    <h2 id="titulo-solicitud-integral" data-bind="text: solicitudIntegral.IdSolicitudIntegral() > 0 ? 'Reprogramaci&oacute;n de Solicitud Integral: ' + solicitudIntegral.FolioSolicitudIntegral() + ' [' + solicitudIntegral.EstadoSolicitudIntegral() + ']' : 'Reprogramaci&oacute;n de Solicitud Integral'" >Reprogramaci&oacute;n de Solicitud Integral</h2>

    <input id="txtDatosSolicitudIntegral" type="hidden" value="@Model"/>

    @*<button id="btnCancelarSolicitudIntegral" class="btn" data-bind="click: CancelarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Cancelar"><img src="~/Content/images/defaulticon/16x16/cancel.png"/></button>
    <button id="btnConfirmarSolicitudIntegral" class="btn" data-bind="click: ConfirmarSolicitudIntegral, visible: solicitudIntegral.IdSolicitudIntegral() > 0 && solicitudIntegral.EstadoSolicitudIntegral() == 'SOLICITADO'" type="button" value="Confirmar"><img src="~/Content/images/defaulticon/16x16/check.png"/></button>
    
    <input id="txtFolioSolicitudIntegral" type="text" />
    <button id="btnBuscarFolioSolicitud" class="btn" data-bind="click: ObtenerDatosSolicitudIntegralEditar" type="button"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
    <span id="image-loading-cargar-datos-solicitud" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
    *@

    <div class="grid">

        <div id="tipo-solicitud" class="row">
        
            <label class="span2">Tipo</label>
            <span><label data-bind="text: solicitudIntegral.TipoSolicitudIntegral"></label></span>

        </div>

        <div id="tipo-personal" class="row">

            <label class="span2">Personal</label>
            <span><label data-bind="text: solicitudIntegral.TipoPersonal"></label></span>

        </div>

        <div id="tipo-transporte" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
        
            <label class="span2" >Transporte</label>
            <span><label data-bind="text: solicitudIntegral.TipoTransporte"></label></span>

        </div>

        <div id="tipo-servicio" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">

            <label class="span2">Servicio</label>
            <span data-bind="visible: solicitudIntegral.IdSolicitudIntegral() > 0"><label data-bind="text: solicitudIntegral.TipoServicio"></label></span>

        </div>

        <div id="fecha-subida" class="row">

            <label class="span2">Subida/Serv.</label>
            
            <span class="input-control text span2 input-append">
                <label id="lblFechaSubida" data-bind="text: solicitudIntegral.FechaSubida"></label>
            </span>

            <label class="span2">Nueva Subida/Serv.</label>
            <span class="input-control text span2 input-append">
                <input type="text" id="txtNuevaFechaSubida" />
            </span>
            
            <button id="btnMostrarCalendarioNuevaFechaSubida" class="btn" data-bind="click: MostrarCalendarioNuevaFechaSubida" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>
        
        </div>
    
        <div id="fecha-bajada" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO TRANSPORTE'" class="row">
            <label class="span2">Bajada</label>
            <span class="input-control text span2 input-append">
                <label class="span4" id="lblFechaBajada" data-bind="text: solicitudIntegral.FechaBajada"></label>
            </span>

            <label class="span2">Nueva Bajada</label>
            <span class="input-control text span2 input-append">
                <input type="text" id="txtNuevaFechaBajada" />
            </span>

            <button id="btnMostrarCalendarioNuevaFechaBajada" class="btn" data-bind="click: MostrarCalendarioNuevaFechaBajada" type="button"><img src="~/Content/images/defaulticon/16x16/calendar.png"/></button>

        </div>
    
        <div id="ficha-solicitante" class="row">
            <label class="span2">Solicitante</label>
            
            <div class="input-control text span4 input-append">
                <label id="lblSolicitante" data-bind="text: solicitudIntegral.FichaSolicitante" ></label>
            </div>

            <span data-bind="attr: { title: solicitudIntegral.DescripcionSubdivisionSolicitante(), class: solicitudIntegral.FichaSolicitante() == null ? 'fg-color-red' : '' }"><label data-bind="    text: solicitudIntegral.FichaSolicitante() == null ? 'No se encontr&oacute; a ningun solicitante con esa ficha' : '[' + solicitudIntegral.SubdivisionSolicitante() + ']'"></label><label data-bind="text: solicitudIntegral.NombreSolicitante"></label></span>
        </div>

        <div id="ficha-autorizador" class="row">
            <label class="span2">Autorizador</label>
            
            <div class="input-control text span4 input-append">
                <label id="txtAutorizador" data-bind="text: solicitudIntegral.FichaAutorizador" ></label>
            </div>

            <label data-bind="text: solicitudIntegral.NombreAutorizador"></label>
        </div>

        <div id="numero-contrato" data-bind="visible: solicitudIntegral.TipoPersonal() != 'PEMEX'" class="row">
            <label class="span2">Contrato</label>
            
            <div class="input-control text span4 input-append">
                <input id="lblContrato" data-bind="value: solicitudIntegral.NumeroContrato"/> 
            </div>

            <label data-bind="text: solicitudIntegral.NombreAcreedor"></label> - <label data-bind="text: solicitudIntegral.RFCAcreedor"></label>
        </div>

        <div id="hora-itinerario" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE'" class="row">
            
            <label class="span2">Transp. Ida</label>
            
            <div class="input-control select span5">
                <select id="cmbItinerarios" data-bind="options: ItinerariosTransporteIda, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteIda,  event: { change: ItinerarioSelectionChanged }"></select>    
            </div>

        </div>

        <div id="hora-itinerario-regreso" data-bind="visible: solicitudIntegral.TipoSolicitudIntegral() != 'SOLO HOSPEDAJE' && solicitudIntegral.TipoServicio() == 'CAMBIO DE GUARDIA'" class="row">
            
            <label class="span2">Transp. Ret.</label>
            
            <div class="input-control select span5">
                <select id="cmbItinerariosRetorno" data-bind="options: ItinerariosTransporteRetorno, optionsText: 'descripcion_larga', optionsValue : 'id_itinerario', optionsCaption: '[Selecciona un itinerario]', value: solicitudIntegral.FkIdItinerarioTransporteRetorno,  event: { change: ItinerarioRetornoSelectionChanged }"></select>    
            </div>
            
        </div>

    </div>

    <div id="tabla-detalles-reprogramacion-solicitud-integral">

        <script type="text/html" id="registro-detalles-reprogramacion-solicitud-integral">
            <tr data-bind="css: (CapacidadDisponibleTransporte >= CapacidadRequeridaTransporte && CapacidadDisponibleHospedaje >= CapacidadRequeridaHospedaje ) ? 'success':  ((CapacidadRequeridaTransporte > 0 && CapacidadDisponibleTransporte <= 0) || (CapacidadRequeridaHospedaje >= 0 && CapacidadDisponibleHospedaje <= 0) ) ? 'error' : 'warning', click: $root.SeleccionarDetalleReprogramacion">
                <td>
                    <label data-bind="text: SiglasInstalacionOrigen"></label>
                </td>
                <td>
                    <label data-bind="text: SiglasInstalacionDestino"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadRequeridaTransporte"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadRequeridaHospedaje"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadDisponibleTransporte"></label>
                </td>
                <td>
                    <label data-bind="text: CapacidadDisponibleHospedaje"></label>
                </td>
                <td>
                    <label data-bind="text: NombreItinerario"></label>
                </td>

                <td>
                    <label data-bind="text: CapacidadRestantePasajerosPorProgramar"></label>
                </td>

            </tr>
        </script>
        
        <table class="striped bordered hovered">
            <caption>
                Detalles de la Reprogramaci&oacute;n
                <span id="image-loading-cargar-detalles-reprogramacion" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
            </caption>
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Req. Trans</th>
                    <th>Req. Hosp.</th>
                    <th>Cap. Trans</th>
                    <th>Cap. Hosp.</th>
                    <th>Itinerario</th>
                    <th>Disp.</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'registro-detalles-reprogramacion-solicitud-integral', foreach: capacidadesReprogramacion }">
            </tbody>
        </table>

    </div>

    <div id="tabla-detalles-solicitud-integral">

        <script type="text/html" id="registro-detalles-solicitud-integral">
            <tr data-bind="css: ElementoSeleccionado() == true ? 'info': '', click: $root.SeleccionarDetalleSolicitudIntegral">
                <td>
                    <input type="checkbox" data-bind="checked: SeleccionadoReprogramacion, enable: DisponibleReprogramacion, visible: EstadoOcupanteSolicitudIntegral()  == 'SOLICITADO' ? true : false " />
                </td>
                <td>
                    <label data-bind="text: FichaRFCEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: NombreEmpleado"></label>
                </td>
                <td>
                    <label data-bind="text: TipoMovimientoPersonal"></label>
                </td>
                <td>
                    <label data-bind="text: CveOrigenDestino "></label>
                </td>
                <td>
                    <label data-bind="text: EstadoOcupanteSolicitudIntegral"></label>
                </td>
                <td>
                    <label data-bind="text: FolioLibretaMar"></label>
                </td>
                <td>
                    <label data-bind="text: VigenciaLibretaMar"></label>
                </td>
            </tr>

        </script>
        
        <table class="striped bordered hovered">
            <caption>Detalles de la Solicitud Integral</caption>
            <thead>
                <tr>
                    <th>Reprogramar</th>
                    <th>Ficha/RFC</th>
                    <th>Nombre</th>
                    <th>Movimiento</th>
                    <th>Origen-Destino</th>
                    <th>Estado</th>
                    <th>Folio Libreta</th>
                    <th>Vigencia Libreta</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'registro-detalles-solicitud-integral', foreach: detallesSolicitudIntegral }">
            </tbody>
        </table>

    </div>

    <input id="btnReprogramar" type="button" data-bind="click: ReprogramarSolicitudIntegral" value="Reprogramar"/>
    <span id="image-loading-reprogramar" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>

    <!-- Llamada a los scripts de la página- -->
    <script type="text/javascript" charset="UTF-8" >
        require(['app/solicitud-integral/solicitudIntegralReprogramarController', 'domReady!'], function (solicitudIntegralReprogramarController)
        {
            var solicitud_integral_reprogramar_controller = new solicitudIntegralReprogramarController();
            solicitud_integral_reprogramar_controller.Init();
        });
    </script>

</div>

