﻿@model SolicitudIntegralMVC.Models.ItinerariosDiaViewModel

<div class="grid">

    <h4>Listado de Itinerarios para el dia: @String.Format("{0:dd/MM/yyyy}", Model.FechaConsulta) </h4>
    
    <div class="row">
        <label class="span2">Fecha Consulta:</label>
        <b>@String.Format("{0:dd/MM/yyyy HH:mm}",Model.FechaConsulta)</b>
    </div>
    <div class="row">
        <label class="span2">Tipo Transporte:</label>
        <b>@Model.TipoTransporte</b>
    </div>
    
    <div class="row">
        <label class="span2">Tipo Servicio:</label>
        <b>@Model.TipoServicio</b>
    </div>

    <div class="row">
        <label class="span2">Nodo Atención:</label>
        <b>@Model.NodoAtencion</b>
    </div>
    
    @if (Model.ItinerariosCapacidadDia.Count() > 0)
    { 
    <table class="bordered striped small">
        <thead>
            <tr>
                <td>Cve</td>
                <td>Ori-Des</td>
                <td>Descripcion</td>
                <td>Cap.Disp.</td>
                <td>Fecha límite de Captura</td>
            </tr>
        </thead>
        <tbody>
            @foreach (STPIntegral.Datos.Vw_SoltIntItinerariosCapacidadDia_NOLOCK itineario_dia in Model.ItinerariosCapacidadDia)
            {
            <tr>
                <td>@itineario_dia.cve_itinerario</td>
                <td>@itineario_dia.cve_nodo_origen - @itineario_dia.cve_nodo_destino</td>
                <td>@itineario_dia.des_itinerario</td>
                <td>@itineario_dia.capacidad_disponible</td>
                <td class="@(itineario_dia.FechaLimiteCreacionSolicitud > System.DateTime.Now ? "fg-color-green" : "fg-color-red")"><b>@String.Format("{0:dd/MM/yyyy HH:mm}", @itineario_dia.FechaLimiteCreacionSolicitud)</b></td>
            </tr>
            }
        </tbody>

    </table>
        
    <label class="border-color-green"></label><label>Disponible</label>
    <label class="border-color-red"></label><label>No Disponible</label>
    }
    else
    { 
        
        <div class="mensaje-noticia row  fg-color-red" >
            <b>No hay itinerarios disponibles de transporte @Model.TipoTransporte del tipo @Model.TipoServicio para el día: @String.Format("{0:dd/MM/yyyy}", Model.FechaConsulta) y nodo de atención: [@Model.NodoAtencion]</b>
        </div>
    }

    <div>
        <small>Fecha/Hora actual: @String.Format("{0:dd/MM/yyyy HH:mm}",System.DateTime.Now)</small>
    </div>


     <div style="float:right; margin-top:15px;">
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>
</div>