﻿@model  SolicitudIntegralMVC.Models.PermisosAutorizadorViewModel

<div class="grid">
    
    <h4>Listado de Permisos del Autorizador con Ficha: @Model.FichaAutorizador </h4>
    
    <div class="row">
        <label class="span2">Nombre:</label>
        <b>@Model.NombreAutorizador</b>
    </div>

    @if(SolicitudIntegralMVC.Controllers.LogOnController.CurrentUserIsInRol(new string [] {"VENTANILLA"}, Context.Session))
    {
        <div class="row">
            <label class="span2">Firma:</label>
            <div>
                <img src="/SolicitudIntegral/FirmaAutorizador/@Model.FichaAutorizador" alt="Firma Autorizador"/>
            </div>
        </div>
        
    }

    <div class="row">
        <label class="span2">A.Serv. Consultadas:</label>
        @if (Model.AreasServicio != null)
        { 
            for(int i = 0; i < Model.AreasServicio.Count(); ++i)
            { 
                <b>@Model.AreasServicio[i]</b>
                if (i + 1 < Model.AreasServicio.Count())
                {   
                    <span>,</span> 
                }
            } 
        }
    </div>
    
    @if (Model.PermisosAutorizador != null && Model.PermisosAutorizador.Count() > 0)
    { 
    <table class="bordered striped small">
        <thead>
            <tr>
                <td>Area Servicio</td>
                <td>Subdivision</td>
                <td>Des.Subdivision</td>
                <td>Fec.Inicio</td>
                <td>Fec.Fin</td>
            </tr>
        </thead>
        <tbody>
            @foreach (GestionGL.Datos.VW_C_D_AUTORIZADORES permiso_autorizador in Model.PermisosAutorizador)
            {
            <tr>
                <td>@permiso_autorizador.CVE_AREA_SERVICIO</td>
                <td>@permiso_autorizador.SUBDIVISION</td>
                <td>@permiso_autorizador.DESCRIPCION_SUBDIVISION</td>
                <td>@String.Format("{0:dd/MM/yyyy}",@permiso_autorizador.FECHA_INICIO)</td>
                <td>@String.Format("{0:dd/MM/yyyy}",permiso_autorizador.FECHA_FINAL)</td>
            </tr>
            }
        </tbody>

    </table>
        
    }
    else
    { 
        
        <div class="mensaje-noticia row  fg-color-red" >
            <b>No se encontraron permisos vigentes para el autorizador para las areas de servicio consultadas.</b>
        </div>
    }

    <small>Referencia: [AH]: Alim. y Hosp. | [STA]: Transp. Aereo | [STPVM]: Transp. Maritimo </small>

     <div style="float:right; margin-top:15px;">
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>
</div>