﻿<div id="consulta-instalaciones-destino-autorizador">

    <h2>Instalaciones Destino Autorizador</h2>
    <label>Buscar: </label>
    <input id="busqueda_ins" type="text" data-bind="value: cadenabusqueda, valueUpdate: 'afterkeydown'" />
    <input type="button" value="Buscar" style="display: none" />



    <span id="image-loading-instalaciones-autorizador" style="display: none" class="loading-image">
        <img src="~/Content/images/icons/loading.gif" /></span>


    <div class="tabla-Insta-Auto">

        <table class="striped bordered hovered">
            <thead>
                <tr>
                    <td>Instalacion</td>
                    <td>Permiso STA</td>
                    <td>Permiso STPVM</td>
                    <td>Permiso AH</td>
                    <td>Dir. STA</td>
                    <td>Dir. STPVM</td>
                    <td>Dir. AH</td>

                </tr>
            </thead>
            <tbody data-bind="foreach: listado_instalaciones_computadas">
                <tr>
                    <td data-bind="text: $data.NOMBRE_INSTALACION"></td>
                    <td data-bind="text: $data.PERMISO_STA"></td>
                    <td data-bind="text: $data.PERMISO_STPVM"></td>
                    <td data-bind="text: $data.PERMISO_AH"></td>
                    <td data-bind="text: $data.DIREC_STA"></td>
                    <td data-bind="text: $data.DIREC_STPVM"></td>
                    <td data-bind="text: $data.DIREC_AH"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <input type="button" id="btnCerrar" value="Cerrar" />

</div>
