﻿@model  SolicitudIntegralMVC.Models.CapacidadItinerariosDiaViewModel

<div class="grid">
    
    <h4>Detalles de capacidades de Itinerario [@Model.CveItinerario] para la fecha @String.Format("{0:dd/MM/yyyy}",Model.FechaConsulta)</h4>
    
    <div class="row">
        <label class="span2">Tipo Transporte:</label>
        <b>@Model.TipoTransporte</b>
    </div>
    
    <div class="row">
        <label class="span2">Itinerario:</label>
        <b>[@Model.CveItinerario]  @Model.NombreItinerario</b>
    </div>

    <div class="row">
        <label class="span2">Fecha Capacidad:</label>
        <b>@String.Format("{0:dd/MM/yyyy}",Model.FechaConsulta)</b>
    </div>

    <div class="row">
        <label class="span2">Nodo Atencion:</label>
        <b>@Model.NodoAtencion</b>
    </div>

    <div class="row">
        <label class="span2">Subdi.Autorizador:</label>
        <b>@(String.IsNullOrEmpty(Model.SubdivisionAutorizador) ? "N/A" : "[" + Model.SubdivisionAutorizador + "] " + Model.DescripcionSubdivision )</b>
    </div>

    <div class="row">
        <label class="span2">Contrato:</label>
        <b>@(String.IsNullOrEmpty(Model.NoContrato) ? "N/A" : Model.NoContrato)</b>
    </div>

    <div class="row">
        <label class="span2">Folio Especial:</label>
        <b>@(String.IsNullOrEmpty(Model.FolioEspecial) ? "N/A" : Model.FolioEspecial)</b>
    </div>

    <br />
        
    @if (Model.ItinerariosCapacidadDetallesDia != null && Model.ItinerariosCapacidadDetallesDia.Count() > 0)
    { 
    <table class="bordered striped small">
        <thead>
            <tr>
                <td>Tipo</td>
                <td>Identificador</td>
                <td>Observaciones</td>
                <td>Cantidad Disp.</td>
            </tr>
        </thead>
        <tbody>
            @foreach (SolicitudIntegralMVC.Models.CapacidadDetallesItineriosDiaViewModel capacidad_itinerario_detalle in Model.ItinerariosCapacidadDetallesDia)
            {
            <tr>
                <td>@capacidad_itinerario_detalle.TipoCapacidadEspecial</td>
                <td>@capacidad_itinerario_detalle.IdentificadorCapacidadEspecial</td>
                <td>@capacidad_itinerario_detalle.ObservacionesIdentificadorEspecial</td>
                <td>@capacidad_itinerario_detalle.CapacidadEspecialDisponible</td>
            </tr>
            }
        </tbody>

    </table>
        
    }
    else
    { 
        <div class="mensaje-noticia row  fg-color-red" >
            <b>Este itinerario no cuenta con capacidades por Contrato, Subdivisión o Folio especial para la fecha seleccionada.</b>
        </div>
    }

    <div class="row">
        <label class="span2">Total Cant.Disp:</label>
        <b class="fg-color-green">@Model.TotalCantidadDisponible</b>
    </div>

     <div style="float:right; margin-top:15px;">
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>

</div>