﻿@model  SolicitudIntegralMVC.Models.CapacidadHospedajeViewModel

<div class="grid">
    
    <h4>Detalles de capacidades de Hospedaje para las fechas @String.Format("{0:dd/MM/yyyy}",Model.FechaSubida) y @String.Format("{0:dd/MM/yyyy}",Model.FechaBajada)</h4>
    
    <div class="row">
        <label class="span2">Instalacion:</label>
        <b>@String.Format("{0:dd/MM/yyyy}",Model.NombreInstalacionDestino)</b>
    </div>

    <div class="row">
        <label class="span2">Fecha Subida:</label>
        <b>@String.Format("{0:dd/MM/yyyy}",Model.FechaSubida)</b>
    </div>

    <div class="row">
        <label class="span2">Fecha Bajada:</label>
        <b>@String.Format("{0:dd/MM/yyyy}",Model.FechaBajada)</b>
    </div>

    <div class="row">
        <label class="span2">Subdi.Autorizador:</label>
        <b>@(String.IsNullOrEmpty(Model.SubdivisionAutorizador) ? "N/A" : "[" + Model.SubdivisionAutorizador + "] " + Model.DescripcionSubdivision )</b>
    </div>

    <div class="row">
        <label class="span2">Contrato:</label>
        <b>@(String.IsNullOrEmpty(Model.NoContrato) ? "N/A" : Model.NoContrato)</b>
    </div>

    <div class="row">
        <label class="span2">Folio Especial:</label>
        <b>@(String.IsNullOrEmpty(Model.FolioEspecial) ? "N/A" : Model.FolioEspecial)</b>
    </div>

    <br />
        
    <div style="max-height:300px; overflow:scroll;padding-right:10px;">

        @if (Model.ListadoCapacidadesPorDia != null && Model.ListadoCapacidadesPorDia.Count() > 0)
        { 
        <table class="bordered striped small">
            <thead>
                <tr>
                    <td>Fecha</td>
                    <td>Lugares Comunes</td>
                    <td>Subdivision</td>
                    <td>Contrato</td>
                    <td>Fol.Esp.</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                @foreach (SolicitudIntegralMVC.Models.CapacidadHospedajePorDia capacidad_hospedaje_dia in Model.ListadoCapacidadesPorDia)
                {
                <tr>
                    <td>@String.Format("{0:dd/MM/yyyy}",capacidad_hospedaje_dia.Fecha)</td>
                    <td>@capacidad_hospedaje_dia.CapacidadFondoComunDisponible</td>
                    <td>@capacidad_hospedaje_dia.CapacidadSubdivision</td>
                    <td>@capacidad_hospedaje_dia.CapacidadContrato</td>
                    <td>@capacidad_hospedaje_dia.CapacidadFolioEspecial</td>
                    <td class="@(capacidad_hospedaje_dia.MenorCapacidad == true ? "fg-color-green" : (capacidad_hospedaje_dia.CapacidadTotal > 0 ? "fg-color-blue" : "fg-color-red") )"><b>@capacidad_hospedaje_dia.CapacidadTotal @(capacidad_hospedaje_dia.MenorCapacidad ? "*":"" )</b> </td>
                </tr>
                }
            </tbody>

        </table>
        
        }
        else
        { 
            <div class="mensaje-noticia row  fg-color-red" >
                <b>No hay disponibilidad de hospedaje para la instalaci&oacute;n en las fechas especificadas.</b>
            </div>
        }

    </div>

    <div class="row">
        <label class="span2">Total Cant.Disp:</label>
        <b class="fg-color-green">@Model.TotalCantidadDisponible*</b>
    </div>

    <b class="fg-color-green">*</b>
    <label>La cantidad disponible se obtiene de la menor cantidad total disponible por dia entre las capacidades totales del rango de fechas especificado.</label>
    <div style="float:right; margin-top:15px;">
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>

</div>