﻿@model  STPIntegral.Datos.VW_TabDetallesSolicitudIntegral 

<div id="vista-detalle-empleado" class="grid">
    <input id="hFichaRFCEmpleado" type="hidden" value="@Model.FichaRFCEmpleado" />
    <h4>Detalles de empleado [@Model.FichaRFCEmpleado] de la Solicitud folio [@Model.FolioSolicitudIntegral]</h4>
    
    <div class="row">
        <label class="span2">Empleado:</label>
        <b id="infoEmpleado">[@Model.FichaRFCEmpleado] @Model.NombreEmpleado</b> 
        <a id="hplCambiarEmpleado" href="#" data-bind="click: CambiarUsuario">Cambiar</a>
        <a id="hplGuardarReemplazo" href="#" data-bind="click: GuardarReemplazo" style="display: none">Guardar</a>
    </div>

    <div id="cambio-empleado" class="row" style="display:none;">
        <label class="span1">Reemplazar:</label>
        <input id="txtNuevoEmpleado" class="span2" data-bind="valueUpdate: 'afterkeydown', event: { keypress: InputKeyPress }" />
        <button id="btnNuevoEmpleadoReemplazo" class="btn" type="button" data-bind="click: ValidarNuevoEmpleadoReemplazo"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
        <span id="image-loading-busqueda-catalogo-empleados-reemplazar" style="display: none" class="loading-image" ><img src="~/Content/images/icons/loading.gif"/></span>
        <b id="lblNuevoEmpleadoReemplazo"></b>
    </div>
    
    <div class="row">
        <label class="span2">Movimiento:</label>
        <b>@Model.TipoMovimientoPersonal</b>
    </div>

    <div class="row">
        <label class="span2">Origen:</label>
        <b>[@Model.ClaveInstalacionOrigen] @Model.NombreInstalacionOrigen</b>
    </div>

    <div class="row">
        <label class="span2">Destino:</label>
        <b>[@Model.ClaveInstalacionDestino] @Model.NombreInstalacionDestino</b>
    </div>

    <div class="row">
        <label class="span2">F.Sub/Serv:</label>
        <b>@String.Format("{0: dd/MM/yyyy}", Model.FechaSubida)</b>
    </div>

    @if (Model.TipoSolicitudIntegral != "SOLO HOSPEDAJE")
    { 
    <div class="row">
        <label class="span2">Est. STP:</label>
        <b>@Model.EstadoPasajeroSTP</b>
    </div>
     }

    @if (Model.TipoSolicitudIntegral != "SOLO TRANSPORTE")
    { 
    <div class="row">
        <label class="span2">Est. AH:</label>
        <b>@Model.EstadoHuespedAH</b>
    </div>
     }

    @if (Model.TipoSolicitudIntegral != "SOLO TRANSPORTE")
    { 
    <div class="row">
        <label class="span2">Fecha Bajada:</label>
        <b>@String.Format("{0: dd/MM/yyyy}", Model.FechaBajada)</b>
    </div>
    }

    @if (Model.TipoSolicitudIntegral != "SOLO HOSPEDAJE")
    { 
    <div class="row">
        <label class="span2">Hor.Itin.:</label>
        <b>@String.Format("{0: HH:mm}",Model.HoraViajeItemParajeroSTA.Value)</b>
    </div>
        
        if (Model.TipoTransporte == "AEREO")
        { 
    <div class="row">
        <label class="span2">No.Vuelo:</label>
        <b>@(String.IsNullOrEmpty(Model.NumeroVuelo) ? "Sin información" : Model.NumeroVuelo)</b>
    </div>
        
    <div class="row">
        <label class="span2">Matrícula:</label>
        <b>@(String.IsNullOrEmpty(Model.MatriculaAeronave) ? "Sin información" : Model.MatriculaAeronave)</b>
    </div>
        }
    }

    @if (Model.TipoSolicitudIntegral != "SOLO HOSPEDAJE" && Model.TipoTransporte == "AEREO")
    {
    <div class="row">
        <label class="span2">Lleva Material:</label>
            <input type="checkbox" value="1" id="chkLlevaMaterial" @(Model.LLevaMaterial == true ? "checked=\"checked\"" : "") @(Model.EstadoOcupanteSolicitudIntegral == "SOLICITADO" ? "" : "disabled=\"disabled\"") />
    </div>
    }
       
    <table id="tblDireccionamientosTransporte" class="striped bordered hovered small" >
        <caption>Direccionamientos Servicios</caption>
        <thead>
            <tr>
                <th>AreaServicio</th>
                <th>Cto. Gestor</th>
                <th>Fondo</th>
                <th>Ele. PEP</th>
                <th>Prom. Presup.</th>
                <th>Pos. Fin</th>
            </tr>
        </thead>
        <tbody">
            @if (Model.TipoSolicitudIntegral != "SOLO TRANSPORTE")
            { 
            <tr>
                <th>AH</th>
                <th>@Model.CentroGestorDireccionamientoAH</th>
                <th>@Model.FondoDireccionamientoAH</th>
                <th>PENDIENTE</th>
                <th>@Model.ProgramaPresupuestalDireccionamientoAH</th>
                <th>@Model.PosicionPresupuestalDireccionamientoAH</th>
            </tr>
            }

            @if (Model.TipoSolicitudIntegral != "SOLO HOSPEDAJE")
            { 
            <tr>
                <th>@(Model.TipoTransporte == "AEREO" ? "STA" : "STPVM")</th>
                <th>@Model.CentroGestorDireccionamientoSTP</th>
                <th>@Model.FondoDireccionamientoSTP</th>
                <th>@Model.ElementoPEPDireccionamientoSTP</th>
                <th>@Model.ProgramaPresupuestalDireccionamientoSTP</th>
                <th>@Model.PosicionPresupuestalDireccionamientoSTP</th>
            </tr>
            }

        </tbody>
        
    </table>

    <div class="row">
        <label class="span1">Observaciones:</label>
    </div>
    
    <div class="row input-control text input-append">
        <textarea id="txtObservacionesDetalle">@Model.ObservacionesDetalle</textarea>
    </div>


     <div style="float:right; margin-top:15px;">
         @if (Model.EstadoOcupanteSolicitudIntegral == "SOLICITADO")
         {
         <input type="button" id="btnGuardar" value="Guardar" data-bind="click:GuardarDetalleObservaciones" />
         }
         <input type="button" id="btnCerrar" value="Cerrar" />
    </div>
</div>