﻿@model SolicitudIntegralMVC.Models.CatalogoUsuarioViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">

    
    @if(@TempData["Mensaje"] != null)
    {
        <label class="border-color-blue">@TempData["Mensaje"]</label>
    }

    <h2>Administración de la cuenta de Usuario</h2>

    <div class="row">
        <label class="span2">Nombre Usuario:</label>
        <label class="span4">@Model.NombreCompleto</label>
    </div> 

    <div class="row">
        <label class="span2">Ficha/RFC:</label>
        <label class="span4"> @Model.NombreUsuario</label>
    </div> 

    <h3>
        Cambio de Contraseña
    </h3>
    
    @using(Html.BeginForm("CambiarContrasenia","Usuarios"))
    {
    
    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario"/> 

    <div class="row">
        <label class="span2">Contraseña Anterior:</label>
        <input type="password" name="ContaseniaAnteriorCambioContrasenia" class="span4" value="@Model.ContaseniaAnteriorCambioContrasenia"/> 
    </div> 

    <div class="row">
        <label class="span2">Nueva Contraseña:</label>
        <input type="password" name="NuevaContrasenia" class="span4" value="@Model.NuevaContrasenia" /> 
        <input type="submit" value="Cambiar Contraseña" />
    </div> 

    }

    <h3>Cambio de Usuario de Dominio</h3>

    @using(Html.BeginForm("CambiarUsuarioDominio","Usuarios"))
    {
    
    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario"/> 

    <div class="row">
        <label class="span2">Contraseña:</label>
        <input type="password" name="ContaseniaAnteriorCambioDominio" value="@Model.ContaseniaAnteriorCambioDominio" class="span4" /> 
    </div> 

    <div class="row">
        <label class="span2">Usuario de Dominio:</label>
        <input type="text" name="UsuarioDominio" class="span4" value="@Model.UsuarioDominio" /> 
        <input type="submit" value="Cambiar Cuenta Dominio" />
    </div> 

    }
    
</div>

