﻿@model SolicitudIntegralMVC.Models.UserLogonModel
@{
	ViewBag.Title = "Solicitud Integral: Acceso a Usuarios";
	Layout = null;
}

<!DOCTYPE html>
<html lang="es-mx">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/gif" href="@Url.Content("~/Content/images/favicon.gif")" />

	<title>@ViewBag.Title</title>
	
	<link href="@Url.Content("~/Content/modern.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/modern-responsive.css")" rel="stylesheet" />

	<link href="@Url.Content("~/Content/estilos.css")" rel="stylesheet" />    
	<link href="@Url.Content("~/Content/themes/base/jquery-ui-1.8.16.custom.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/metro-bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/themes/jquery.tagit.css")" rel="stylesheet" />
	
	<script type="text/javascript">var rootDir = "@Url.Content("~/")"; </script>
    <script type="text/javascript" data-main="@Url.Content("~/scripts/main")" src="@Url.Content("~/scripts/require-jquery.js")"></script>

</head>

<body>
	<div id="login-page" class="page">
		
		<div id="page-header">
            
            <img src="~/Content/images/layout/header-left.png"/>    
            
            <img style="float:right" src="~/Content/images/layout/header-right.png"/>
            
        </div>

		<div class="page-region">
  
			<div class="grid page-region-content">

                <label id="mensaje-version-navegador" class="border-color-red" style="display:none;">Este sistema requiere la version 9 del Internet Explorer, se detecto que su navegador es una version anterior, se recomienda actualizarlo para poder usar el sistema</label>
					
				<h2>Página de Acceso a usuarios</h2>

				@if (Model != null && Model.UsuarioDominio != null && !String.IsNullOrEmpty(Model.UsuarioDominio.NombreUsuarioDominio))
    { 
					<label>Su cuenta de usuario del dominio [@Request.LogonUserIdentity.Name]  cuenta con los siguientes permisos para el Sistema de Solicitudes Integrales. </label> 
					
					  <table class="striped bordered hovered">
						<thead>
							<tr>
								<th>Seleccionar</th>
								<th>Permiso</th>
								<th>Subdivision</th>
								<th>Region</th>
                                <th>Activo</th>
                                <th>Gerencia</th>
								<th>Nodo</th>
							</tr>
						</thead>
						<tbody>
						@foreach (SolicitudIntegralMVC.Models.PermisosSubdivisionesDisponiblesUsuario permiso in Model.UsuarioDominio.ListadoPermisosSubdivisionesDisponibles)
      { 
							<tr>
								<td>
									@using (Html.BeginForm("LogInUsuarioDominio", "LogOn"))
         {    
										<input type="hidden" name="IdPermisoUa" value="@permiso.IdPermisoUa" />
										<input type="submit" value="Acceder" />
         }
								</td>
								<td>@permiso.Permiso</td>
								<td>@permiso.Subdivision</td>
                                <td>
                                    <label>[@permiso.Subdivision.Substring(0,1)] - @permiso.DescripcionRegion</label><br />
								</td>
                                <td>
                                    <label>[@permiso.Subdivision.Substring(1,2)] - @permiso.DescripcionActivo</label><br />
								</td>
                                <td>
                                    <label>[@permiso.Subdivision.Substring(3,2)] - @permiso.DescripcionSubdivision</label>
								</td>
								<td>@permiso.NodoAtencion</td>
							</tr>
      }
						</tbody>
					</table>
    }
    else
    { 
                <a id="relacion-cuenta-dominio" href="#">Su cuenta de usuario del dominio de PEMEX [@Request.LogonUserIdentity.Name] no esta relacionada a ninguna cuenta de usuario del sistema, de clic aqui si desea relacionarlo.</a>
    }

                @if (Model != null && Model.UsuarioDominio != null && !String.IsNullOrEmpty(Model.UsuarioDominio.NombreUsuarioDominio))
                {
                    <label class="border-color-blue">Si desea acceder con otra cuenta de usuario entonces proporcione sus datos de acceso.</label>
                }


				@using (Html.BeginForm("ValidarUsuarioPassword", "LogOn"))
				{ 

				<div id="tipo-personal" class="row">

					<label class="span1">Usuario</label>
					<span class="input-control text span2">
						<input type="text" name="UsuarioFormulario.NombreUsuario" id="txtNombreUsuario" value="@Model.UsuarioFormulario.NombreUsuario" />
					</span>
					
				</div>

				<div class="row">

					<label class="span1">Password</label>
					<span class="input-control text span2">
						<input type="password" name="UsuarioFormulario.Password" id="Password" />
					</span>

				</div>

				<div class="row">

					<span class="span2"></span>
					<input type="submit" id="btnAcceder" value="Validar" />
					
				</div>
					
					if (TempData["mensaje_error"] != null && !String.IsNullOrEmpty(TempData["mensaje_error"].ToString()))
					{
				<div class="row">
					<label class="error">@TempData["mensaje_error"]</label>
				</div>
					}
					
				}
					
			</div>

			@if (Model != null && Model.UsuarioFormulario != null && Model.UsuarioFormulario.ListadoPermisosSubdivisionesDisponibles != null)
			{ 
				<label>Su cuenta de usuario cuenta con los siguientes permisos, favor de elegir alguno para continuar. </label> 
					
				<table class="striped bordered hovered">
					<caption>
						<label>Permisos del usuario: [ @Model.UsuarioFormulario.NombreUsuario ] @Model.UsuarioFormulario.NombreCompletoUsuario - >> @Model.UsuarioFormulario.NombreUsuarioDominio</label>
					</caption>
					<thead>
						<tr>
							<th>Seleccionar</th>
							<th>Permiso</th>
							<th>Subdivision</th>
							<th>Departamento</th>
							<th>Nodo</th>
						</tr>
					</thead>
					<tbody>
					@foreach (SolicitudIntegralMVC.Models.PermisosSubdivisionesDisponiblesUsuario permiso in Model.UsuarioFormulario.ListadoPermisosSubdivisionesDisponibles)
					{ 
						<tr>
							<td>
								@using (Html.BeginForm("LogInUsuarioFormulario", "LogOn"))
								{    
									<input type="hidden" name="IdPermisoUa" value="@permiso.IdPermisoUa" />
									<input type="submit" value="Acceder" />
								}
							</td>
							<td>@permiso.Permiso</td>
							<td>@permiso.Subdivision</td>
							<td>
                                <div>
                                    <label>[@permiso.Subdivision.Substring(0,1)] - @permiso.DescripcionRegion</label><br />
                                    <label>[@permiso.Subdivision.Substring(1,2)] - @permiso.DescripcionActivo</label><br />
                                    <label>[@permiso.Subdivision.Substring(3,2)] - @permiso.DescripcionSubdivision</label>
                                </div>
							</td>
							<td>@permiso.NodoAtencion</td>
						</tr>
					}
					</tbody>
				</table>
			}
		</div>

		@Html.Action("ListadoNoticias", "Noticias")

	</div>

</body>

<!-- Llamada a los scripts de la página- -->
<script type="text/javascript" charset="UTF-8">
    require(['app/login/login', 'domReady!'], function (loginController)
    {
        var login = new loginController();
        login.Init();
    });
</script>

</html>
