﻿@model SolicitudIntegralMVC.Models.UserLogon
@if(Model != null)
{
<div>
    <label>[@Model.NombreUsuario]</label>
    <label>@Model.NombreCompletoUsuario</label>
    |
    <label>Nodo: @Model.NodoAtencionActual</label>
    |
    <label>[@Model.SubdivisionActual]</label>
    <label>@Model.DescripcionSubdivisionActual</label>
    >>
    <label>@Model.SiglasActivoActual</label>
    >>
    <label>@Model.SiglasRegionActual</label>
</div>
}