﻿@model SolicitudIntegralMVC.Models.UserLogon

<div id="crelacion-cuenta-usuario-dominio" class="grid">

    <div class="row">

        <div class="span2">
            <label>Cuenta de Dominio:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="txtCuentaDominio" value="@Request.LogonUserIdentity.Name"/>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Usuario sistema</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="txtUsuarioSistema" value=""/>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Contraseña:</label>
        </div>

        <div class="span3 input-control text">
            <input type="password" id="txContraseña" value=""/>
        </div>

    </div>

     <div style="float:right; margin-top:15px;">
        <input type="button" id="btnAceptar" value="Guardar" />
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>

</div>