﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PaginaMaestra.Master.cs" Inherits="SolicitudIntegralMVC.WebTransporteTerrestre.Recursos.MasterPage.PaginaMaestra" %>

<%@ Register Src="~/WebTransporteTerrestre/Recursos/controles_internos/VentanaMensajes.ascx" TagName="VentanaMensajes" TagPrefix="uc1" %>
<%@ Register Src="~/WebTransporteTerrestre/Recursos/controles/message-box.ascx" TagPrefix="uc1" TagName="messagebox" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

    <title></title>

    <link rel="icon" type="image/gif" href="~/Content/images/favicon.gif" />

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    
    <link href="../css/screen.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="../css/print.css" rel="stylesheet" type="text/css" media="print" />
    <!--[if IE]>
        <link href="../css/ie.css" rel="stylesheet" type="text/css" media="screen, projection"  />
    <![endif]-->
    <link href="../css/PaginaMaestra.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="../css/Estilos.css" rel="stylesheet" type="text/css" />
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    
    <div class="container showgrid">
    
        <form id="form1" runat="server">
            
            <div id="header" class="span-24 last">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Content/images/layout/header.jpg" />
            </div>
           
            <div id="modulos" class="span-24 last" style="padding:5px;">

                <div class="span-6">
                    <asp:HyperLink ID="hplInicio" runat="server" Text="<< Regresar al Menu Principal" NavigateUrl="~/"></asp:HyperLink>
                </div>

                <div class="prefix-15 span-1" style="">
                    <asp:Button runat="server" ID="btnCerrarSesion" Text="Cerrar Sesión" OnClick="btnCerrarSesion_Click"/>
                </div>
            </div>

            <div id="loginusuario" class="span-24 last">
                <asp:Label ID="LblDatosUsuario" runat="server" Text="Label"></asp:Label>
            </div>

            <div id="contenido" class="span-24 last">

                <h2>
                    <asp:ContentPlaceHolder ID="cphTitulo" runat="server">
                    </asp:ContentPlaceHolder>
                </h2>

                <asp:ContentPlaceHolder ID="cphContenido" runat="server">
                </asp:ContentPlaceHolder>
            
            </div>

        </form>

    </div>

</body>

</html>
