﻿    <div id="frmBusquedaCompanias">
        <div class="grid">

            <div class="row">
                <input type="text" class="span4" id="txtBuscar" placeholder="Frase de Busqueda..." />
                 <button class="btn" type="button" data-bind="click: BusquedaCompanias" ><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
            </div>
            <div class="row">
                <select class="span2" id="sltBuscarPor">
                    <option value="NombreCompania">Nombre de la Compañia</option>
                    <option value="Rfc" selected>RFC Compañia</option>
                    <option value="NoAcreedor">No. Acreedor SAP</option>
                </select>
            </div>

            <div class="row">
                <h2>Resultados de la busqueda</h2>    
            </div>

            <div class="row">
            <div class="">
                <div class="scrollingArea">
                    <table class="scrolling">
                        <thead>
                            <tr>
                                <th class="Nombre">Nombre</th>
                                <th class="Rfc">RFC</th>
                                <th class="NoSap">No.Sap</th>
                                <th class="Seleccionar">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: listado_companias_busqueda">
                            <tr>
                                <td class="Nombre" data-bind="text: $data.DESCRIPCION_ACREEDOR" ></td>
                                <td class="Rfc" data-bind="text: $data.RFC_ACREEDOR" ></td>
                                <td class="NoSap" data-bind="text: $data.CVE_ACREEDOR" ></td>
                                <!--<td><button data-bind="click: $root.SeleccionaCompania"><img src="~/Content/images/defaulticon/16x16/check.png"/></button> </td>-->
                                <td class="Seleccionar"><a href="#" data-bind="click: $root.SeleccionaCompania"><img src="~/Content/images/glyphicons/glyphicons_198_ok.png"/></a> </td>
                                <!--<td><button class="mini" data-bind="click: $root.SeleccionaCompania"><img src="~/Content/images/glyphicons/glyphicons_198_ok.png"/></button> </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <br />
                <input id="btnCerrar" type="button" value="Cerrar" />
            </div>
        </div>

    </div>
