﻿<div id="calalogo-empleados-cia" class="grid">
    
    <h3>Catalogo de Empleados de Compañia</h3>

    
    @using (Html.BeginForm("GuardarEmpleadoCompania", "Catalogos", FormMethod.Post, new { id = "frmCatalogoEmpleadoCia" }))
    { 

    <div class="row">

        <div class="span2">
            <label>RFC:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="RFC_FM3" data-bind="value: EmpleadoCia().RFC_FM3, enable: EmpleadoCia().ID_C_EMPLEADO_CIA() <= 0"/>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Nombres:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="NOMBRES" data-bind="value: EmpleadoCia().NOMBRES, enable: EmpleadoCia().ID_C_EMPLEADO_CIA() <= 0" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Apellidos:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="APELLIDOS" data-bind="value: EmpleadoCia().APELLIDOS, enable: EmpleadoCia().ID_C_EMPLEADO_CIA() <= 0" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Categoria:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="CATEGORIA" data-bind="value: EmpleadoCia().CATEGORIA" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Genero:</label>
        </div>

        <div class="span3 input-control text">
            <select id="GENERO" data-bind="value: EmpleadoCia().GENERO">
                <option value="HOMBRE">HOMBRE</option>
                <option value="MUJER">MUJER</option>
            </select>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Nacionalidad:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="NACIONALIDAD" data-bind="value: EmpleadoCia().NACIONALIDAD" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Folio libreta Mar:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="FOLIO_LIBRETA_MAR" data-bind="value: EmpleadoCia().FOLIO_LIBRETA_MAR" />
        </div>

    </div>

    <div class="row" data-bind="visible: Date.parse(EmpleadoCia().VIGENCIA_LIBRETA_MAR()) < (new Date())">
        <label class="border-color-red fg-color-red" >La vigencia de la libreta de mar esta vencida, favor de actualizar.</label>
    </div>
        
    <div class="row">

        <div class="span2">
            <label>Vigencia Libreta:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="VIGENCIA_LIBRETA_MAR" data-bind="value: EmpleadoCia().VIGENCIA_LIBRETA_MAR" />
        </div>

    </div>
        
    <div style="float:right; margin-top:15px;">
        <input type="submit" id="btnAceptar" value="Guardar" />
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>
        
    }

    
</div>