﻿<div id="calalogo-empleados-pemex" class="grid">
    
    <h3>Catalogo de Empleados de Pemex</h3>

    @using (Html.BeginForm("GuardarEmpleadoPemex", "Catalogos", FormMethod.Post, new { id = "frmCatalogoEmpleadoPemex" }))
    { 

    <div class="row">

        <div class="span2">
            <label>Ficha:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="FICHA" data-bind="value: EmpleadoPemex().FICHA, enable: EmpleadoPemex().ID_C_EMPLEADO_PEMEX() <= 0"/>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Nombres:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="NOMBRES" data-bind="value: EmpleadoPemex().NOMBRES, enable: EmpleadoPemex().ID_C_EMPLEADO_PEMEX() <= 0" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Apellidos:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="APELLIDOS" data-bind="value: EmpleadoPemex().APELLIDOS, enable: EmpleadoPemex().ID_C_EMPLEADO_PEMEX() <= 0" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>Categoria:</label>
        </div>

        <div class="span3 input-control text">
            <input type="text" id="CATEGORIA" data-bind="value: EmpleadoPemex().CATEGORIA" />
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <label>GENERO:</label>
        </div>

        <div class="span3 input-control text">
            <select id="GENERO" data-bind="value: EmpleadoPemex().GENERO">
                <option value="HOMBRE">HOMBRE</option>
                <option value="MUJER">MUJER</option>
            </select>
        </div>

    </div>
        
    <div style="float:right; margin-top:15px;">
        <input type="submit" id="btnAceptar" value="Guardar" />
        <input type="button" id="btnCerrar" value="Cerrar" />
    </div>
    }
    
</div>