﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebTransporteTerrestre/Recursos/MasterPage/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="Reportes.aspx.cs" Inherits="SolicitudIntegralMVC.WebTransporteTerrestre.Reportes.Reportes" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphTitulo" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContenido" runat="server">
</asp:Content>
