﻿@model  STPIntegral.Datos.TabFolioVisitas

@{
    ViewBag.Title = "Solicitud Integral: Folios de Visita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offset1">
    <h2>Folios de Visita</h2>

</div>
<div class="grid" id="folios-visita">

    @using (Html.BeginForm("GuardarFolioVista", "FoliosVisita", FormMethod.Post, new { id = "frmFolioVisita" }))
    {
        <br />
        <div class="offset1">

        <div class="row">
        <button id="btnBuscar" hidden="hidden" disabled="disabled" class="image-button" name="btnBuscar" type="button" >Buscar<img src="~/Content/images/glyphicons/glyphicons_027_search.png"/></button>
        <button id="btnAniadir" class="image-button" name="btnAniadir" type="button" data-bind="click: AniadirFolio" >Añadir<img src="~/Content/images/glyphicons/glyphicons_298_hospital.png"/></button>
        <button id="btnEditar" hidden="hidden" disabled="disabled" class="image-button"  name="btnEditar" type="button" data-bind="click: EditarFolio" >Editar<img src="~/Content/images/glyphicons/glyphicons_151_edit.png"/></button>
        <button id="btnCancelar" hidden="hidden" disabled="disabled" class="image-button" name="btnCancelar" type="button" data-bind="click: CancelarFolio" >Cancelar<img src="~/Content/images/glyphicons/glyphicons_221_unshare.png"/></button>
        <button id="btnEliminar" hidden="hidden" disabled="disabled" class="image-button" name="btnEliminar" type="button" data-bind="click: EliminarFolio" >Eliminar<img src="~/Content/images/glyphicons/glyphicons_192_circle_remove.png"/></button>
        <button id="btnGuardar" hidden="hidden" disabled="disabled" class="image-button" name="btnGuardar" type="button" data-bind="click: GuardarFolio" >Guardar<img src="~/Content/images/glyphicons/glyphicons_193_circle_ok.png"/></button>
        <button id="btnLista" class="image-button" name="btnLista" type="button" onclick="window.open('/FoliosVisita/Listado');">Ver lista<img src="~/Content/images/glyphicons/glyphicons_193_circle_ok.png"/></button>
        </div>
        <br />

        <div class="row" hidden="hidden">
            <input type="text" id="txtIdFolioVisita" hidden="hidden" disabled="disabled" name="IdFolioVisita" value="@Model.IdFolioVisita" />
        </div>

        <div class="row">
            <label class="span2">Folio Documento</label>
            <input id="txtFolioDocumento" disabled="disabled" class="span4" type="text" name="FolioDocumento" value="@Model.Foliodocumento" data-bind="value: FolioDocumento" />
        </div>

        <div class="row">
            <label class="span2">Folio Visita</label>
            <input id="txtFolioVisita" disabled="disabled" class="span4" type="text" name="FolioVisita" value="@Model.FolioVisita" data-bind="value: FolioVisita" />
        </div>   
        
        <div class="row">
            <label class="span2">Fecha Inicio</label>
            <input id="txtFechaInicio" disabled="disabled" class="span4" type="text" name="FechaInicio" value="@if(Model.FechaFin!=DateTime.MinValue){@Model.FechaInicio.ToString("dd/MM/yyyy")}" data-bind="value: FechaInicio" />
        </div>

        <div class="row">
            <label class="span2">Fecha Fin</label>
                <input id="txtFechaFin" disabled="disabled" class="span4" type="text" name="FechaFin" value="@if(Model.FechaFin!=DateTime.MinValue){@Model.FechaFin.ToString("dd/MM/yyyy")}" data-bind="value: FechaFin" />
        </div>    

        <!--<div class="row">
            <label class="span2">Busqueda Compañias</label>
            <input id="txtBusqueda" disabled="disabled" class="span4" type="text" name="Bus" value="" />
        </div>-->
<div class="row">
        <div class="row">
            <label class="span2">RFC Compañia</label>
            <input id="txtRFCCompania" disabled="disabled" class="span4" type="text" name="RFCCompania" value="@Model.RfcCompania" data-bind="value: RfcCompania" />
            <button disabled="disabled" class="btn" type="button" id="btnBusquedaCompania" name="btnBusquedaCompania" data-bind="click: MostrarBusquedaCompanias"><img src="~/Content/images/defaulticon/16x16/open-in-new-window.png"/></button>
        </div>
        <div class="row">
            <label class="span2">No. Acreedor SAP</label>
            <input id="txtNoAcreedorSAP" disabled="disabled" class="span4" type="text" name="NoAcreedorSAP" value="@Model.NoAcreedorSap" data-bind="value: NoAcreedorSap" />
        </div>
        <div class="row">
            <label class="span2">Compañia</label>
            <input id="txtCompania" disabled="disabled" class="span4" type="text" name="Compania" value="@Model.NombreCompania" data-bind="value: NombreCompania" />
        </div>
    </div>

        <div class="row">
            <label class="span2">Ficha del Solitante</label>
            <input id="txtFichaSolicitante" disabled="disabled" class="span4" type="text" name="FichaSolicitante" value="@Model.FichaSolicitante" data-bind="value: FichaSolicitante" />
            <button id="btnValidarSolicitante" disabled="disabled" class="btn" name="btnValidarSolicitante" type="button" data-bind="click: ValidarSolicitante"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
            <span id="image-loading-solicitante" class="loading-image" style="display: none;">
                <img src="/Content/images/icons/loading.gif">
            </span>
            <label data-bind="text: NombreSolicitante"></label>
        </div>
    
        <div class="row">
            <label class="span2">Ficha del Autorizador</label>
            <input id="txtFichaAutorizador" disabled="disabled" class="span4" type="text" name="FichaAutorizador" value="@Model.FichaAutorizador" data-bind="value: FichaAutorizador" />
            <button id="btnValidarAutorizador" disabled="disabled" class="btn" name="btnValidarAutorizador" type="button" data-bind="click: ValidarAutorizador"><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
            <span id="image-loading-autorizador" class="loading-image" style="display: none;">
                <img src="/Content/images/icons/loading.gif">
            </span>
            <label data-bind="text: NombreAutorizador"></label>
        </div>
        
        <!--<div class="row" hidden="hidden">
            <input id="chkFolioActivo" disabled="disabled" hidden="hidden" type="checkbox" name="chkFolioActivo" value="" data-bind="checked: BorradoLogico"/>
        </div>-->
        
        <div class="row">
            <label class="span2">Observaciones</label>
            <textarea id="txtMotivo" disabled="disabled" class="span4" name="Motivo" placeholder="Introduzca sus comentarios aqui..." data-bind="value: Motivo">@Model.Motivo</textarea>
        </div>
        </div>    
    }
</div>
 <!-- Html.ActionLink("Ir al listado de Folios de Visita", "Listado", "FoliosVisita")-->

 <!-- Llamada a los scripts de la página- -->
<script type="text/javascript" charset="UTF-8" >
    require(['app/FoliosVisita/CatalogoFoliosVisita', 'domReady!'], function (CatalogosFoliosVisita)
    {
        var folios_visita = new CatalogosFoliosVisita();
        folios_visita.Init();
    });
</script>