﻿@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<h2>Listado Folios Visita</h2>
    <div id="frmListadoFolioVisita">
        <div class="grid">
            
            <div class="row">   
                 <div class="span4">
                    <input type="text" class="span3" id="txtBuscar" placeholder="Buscar Folio de Visita..." />
                    <button class="btn" type="button" data-bind="click: BusquedaFoliosVisita" ><img src="~/Content/images/defaulticon/16x16/search.png"/></button>
                 </div>
                 <div class="span3">@Html.ActionLink("Nuevo Folio Visita", "Index", "FoliosVisita")</div>
            </div>
            <div class="row">
                <table class="bordered striped">
                    <thead>
                    <tr>
                        <td hidden="hidden">Id Folio</td>
                        <td>Folio Documento</td>
                        <td>Folio Visita</td>
                        <td>Fecha Inicio</td>
                        <td>Fecha Fin</td>
                        <td>RFC</td>
                        <td>No. Acreedor SAP</td>
                        <td>Compañia</td>
                        <td>Ficha Solicitante</td>
                        <td>Ficha Autorizador</td>
                        <td>Observaciones</td>
                        <td>Editar</td>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: listado_folios">
                        <tr>
                            <td data-bind="text: $data.IdFolioVisita" hidden="hidden"></td>
                            <td data-bind="text: $data.Foliodocumento"></td>
                            <td data-bind="text: $data.FolioVisita"></td>
                            <td data-bind="text: parseDate($data.FechaInicio)"></td>
                            <td data-bind="text: parseDate($data.FechaFin)"></td>
                            <td data-bind="text: $data.RfcCompania"></td>
                            <td data-bind="text: $data.NoAcreedorSap"></td>
                            <td data-bind="text: $data.NombreCompania"></td>
                            <td data-bind="text: $data.FichaSolicitante"></td>
                            <td data-bind="text: $data.FichaAutorizador"></td>
                            <td data-bind="text: $data.Motivo"></td>
                            <td><a id="HoverSinColor" href="#" data-bind="click: $root.EditarFolio"><img src="~/Content/images/glyphicons/glyphicons_151_edit.png"/></a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

<script type="text/javascript" charset="UTF-8" >
    require(['app/FoliosVisita/CatalogoFoliosVisitaLista', 'domReady!'], function (CatalogosFoliosVisita)
    {
        var folios_visita = new CatalogosFoliosVisita();
        folios_visita.Init();
    });
</script>