﻿<!DOCTYPE html>

<html lang="es-mx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/gif" href="@Url.Content("~/Content/images/favicon.gif")" />

    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/modern.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/modern-responsive.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/estilos.css")" rel="stylesheet" />    
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.8.16.custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/jquery.tagit.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/koGrid/KoGrid.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">var rootDir = "@Url.Content("~/")"; </script>
    <script type="text/javascript" data-main="@Url.Content("~/scripts/main")" src="@Url.Content("~/scripts/require-jquery.js")"></script>
</head>

<body>

    <div class="page">
        
        <div id="page-header">
            
            <img src="~/Content/images/layout/header-left.png"/>    
            
            <img style="float:right" src="~/Content/images/layout/header-right.png"/>
            
        </div>

        @Html.Partial("navegacion")

        @Html.Action("InfoUsuario", "LogOn")
 
        <div class="page-region">
            <div class="page-region-content">

                <label id="mensaje-version-navegador" class="border-color-red" style="display:none;">Este sistema requiere la version 9 del Internet Explorer, se detecto que su navegador es una version anterior, se recomienda actualizarlo para poder usar el sistema</label>

                @RenderBody()

            </div>
        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function ()
        {
            if ($.browser.msie == true && parseInt($.browser.version, 10) < 9)
            {
                $("#mensaje-version-navegador").show();
            }
        });
        

    </script>

</body>

</html>
