﻿@model SolicitudIntegralMVC.Models.UserLogon

@{
    Layout = null;
}

@if (HttpContext.Current.User.Identity.Name != "" && Model != null)
{ 
<li data-role="dropdown">
    <a href="#"> <span title="@Model.DescripcionActivoActual">Rol: @Model.PermisoUsuarioActual</span></a>
    <ul class="dropdown-menu" style="width: auto">
        @foreach (SolicitudIntegralMVC.Models.PermisosSubdivisionesDisponiblesUsuario permiso in Model.ListadoPermisosSubdivisionesDisponibles)
        {
            if (permiso.IdPermisoUa != Model.IdPermisoUaActual)
            { 
            <li>
                <a href="~/LogOn/CambiarPermiso/@permiso.IdPermisoUa"><span title="@permiso.DescripcionSubdivision"> @permiso.Permiso [@permiso.Subdivision] </span></a> 
            </li>
            }
        }
    </ul>
</li>
}
else
{ 
    <li>@Html.ActionLink("LogIn", "Index", "LogOn", new { Area = "" }, new { })</li>
}