﻿<div class="nav-bar">
    
    <div class="nav-bar-inner">
 
        @*<span class="element"><strong>Sistema de Solicitudes Integrales</strong></span>*@
 
        <span class="divider"></span>
 
        <ul class="menu">
                        
            <li>@Html.ActionLink("Inicio", "Index", "Home", new { Area = "" }, new { })</li>

            <li>@Html.ActionLink("Adm.Cta.Usuario", "Index", "Usuarios", new { Area = "" }, new { })</li>

            <li data-role="dropdown">
                <a href="#">Sol. Integrales</a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Listado Solicitudes", "Listado", "SolicitudIntegral")</li>
                    <li>@Html.ActionLink("Nueva Solicitud Integral", "Editar", "SolicitudIntegral")</li>
                    <li>@Html.ActionLink("Listado Folios de Visita", "Listado", "FoliosVisita")</li>

                </ul>
            </li>

            <li data-role="dropdown">
                <a href="#">Sol. Terrestres</a>
                <ul class="dropdown-menu">
                    <li><a href="~/WebTransporteTerrestre/Solicitudterrestre/SolicitudTerrestre.aspx">Nueva Solicitud Terrestre</a></li>
                    <li><a href="~/WebTransporteTerrestre/Solicitudterrestre/Solicitudes.aspx">Administración de Solicitudes</a></li>
                </ul>
            </li>

            <li class="divider"></li>

            @Html.Action("MenuUsuarioNavegacion", "LogOn")

            @Html.Action("MenuNodosAtencion", "LogOn")

            @*@Html.ActionLink("Firma Electronica Ejemplo", "Index", "FirmaElectronica")*@
            
        </ul>

        <span style="text-align:right; float: right;">
            @using (Html.BeginForm("LogOut", "LogOn", new { area = "" }, FormMethod.Post))
            { 
                <input type="submit" class="bg-color-red" style="padding: 2px; margin: 2px 13px 0 0; height: auto;" value="Cerrar Sesión" />
            }
        </span>

    </div>

</div>

