﻿@model SolicitudIntegralMVC.Models.UserLogon

@{
    Layout = null;
}

@if (HttpContext.Current.User.Identity.Name != "" && Model != null)
{ 
<li data-role="dropdown">
    <a href="#"> <span title="Nodo Atención actual: @Model.NodoAtencionActual">Nodo Atencion: @Model.NodoAtencionActual</span></a>
    <ul class="dropdown-menu" style="width: auto">
        @foreach (STPIntegral.Datos.stp_c_nodos nodo in Model.NodosAtencion)
        {
            if (nodo.cve_nodo != Model.NodoAtencionActual)
            { 
            <li>
                <a href="~/LogOn/CambiarNodo/@nodo.cve_nodo"><span title="@nodo.cve_nodo"> [@nodo.cve_nodo] @nodo.des_nodo</span></a> 
            </li>
            }
        }
    </ul>
</li>
}
else
{ 
    <li>@Html.ActionLink("LogIn", "Index", "LogOn", new { Area = "" }, new { })</li>
}