﻿body
{
    background-color: #fff;
}

.page
{
    /*min-width: 800px;*/
    max-width: 1300px;
    margin: auto;
    background-color: #fff;
}

#page-header
{
    /*background-color: #2d89f0;*/
    background-color:#ffffff; 
	color:#505050;
	margin:0;
	height:111px;
	background-image: url('./images/layout/header-background.png');
	background-repeat:repeat-x;
}

.browsers-icons img
{
    float: left;
    margin-right: 20px;
}

#brand-name
{
    line-height: 24px;
    margin-top: 2px;
}

.sprite-details li
{
    line-height: 16px;
    margin-bottom: 10px;
}

hr
{
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

@media (min-width: 768px) and (max-width: 979px)
{
    .page
    {
        width: 724px;
    }

    .hero-unit > img
    {
        zoom: .6;
    }

    .browsers-icons img
    {
        zoom: .8;
    }
}

@media (max-width: 767px)
{
    .page
    {
        width: 100%;
    }

    .hero-unit > img
    {
        zoom: .6;
    }

    .modern-ui-logo
    {
        width: 24px;
        height: 24px;
    }

    .github-info
    {
        margin-top: 5px;
    }

    a, .link
    {
        font-size: 9pt;
    }

    h3
    {
        line-height: 11px;
    }
}

@media (max-width: 480px)
{
    .hero-unit img
    {
        display: none;
    }

    #jetbrains
    {
        display: none;
    }

    #brand-name
    {
        display: none;
    }
}


/************ NOTICIAS */

#noticias
{
    padding: 8px;
}

.noticia
{
    margin-bottom:20px;
}

.titulo-noticia
{
    border-bottom: 2px solid #2D89EF;
}

.mensaje-noticia
{
    margin: 4px 0;
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.autor-noticia
{

}

.text-align-right
{
    text-align: right;
}

#txtObservacionesDetalle
{
    font-size: 14px !important;
}

.tabla-Insta-Auto
{
	height:300px;
	overflow:scroll;
}

/***********Folios Visita*************/

  table.scrolling { 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border-collapse: collapse; 
    width: 550px;
    }
  table.scrolling td { 
    border-left: 1px solid #999; 
    border-top: 1px solid #999;  
    padding: 2px 4px;
    }
  table.scrolling tr:first-child td {
    border-top: none;
  }
  table.scrolling th { 
    border-left: 1px solid #999; 
    padding: 2px 4px;
    background: #6b6164;
    color: white;
    font-variant: small-caps;
    }
  table.scrolling td { background: #eee; overflow: hidden; }
  table.scrolling tr:hover td { 
    background: rgb(255, 255, 3);
    }  
  div.scrollingArea{ 
    height: 400px; 
    overflow: auto; 
    }

  table.scrolling .Nombre			{ width: 230px; text-align:center;}
  table.scrolling .Rfc			{ width: 122px; text-align:center;}
  table.scrolling .NoSap			{ width: 122px;  text-align:center; }
  table.scrolling .Seleccionar	{ width: 76px ; text-align:center;}
  
  table.scrolling td.Rfc			{ background: #ebcb4d; }
  table.scrolling td.Seleccionar  { background: white; }
  
  table.scrolling td.Nombre		{ background: #c4ffe2; }  
  table.scrolling td.NoSap		{ background: #acbff7; }

  table.scrolling tr:hover td.Seleccionar  { background: #3AA872; }
  table.scrolling tr td a:hover,#HoverSinColor  { background: none !important; }