/*!
 * metro-bootstrap v1.0.3
 *
 * from talkslab based on twitter bootstrap.
 */

.btn 
{
    height: 22px;
    vertical-align: top;
}

.input-append .btn 
{
    height: 22px;
    vertical-align: top;
    margin-right: -32px;
}   

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn 
{
    margin-left: -1px;
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-append, .input-prepend 
{
    font-size: 0;
    white-space: nowrap;
}

