﻿@model  STPIntegral.Datos.TabSolicitudIntegral

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejemplo Firma Electronica</h2>


<div class="grid">

    @using (Html.BeginForm("CrearFichaCustodia", "FirmaElectronica", FormMethod.Post))
    {
    
    <div class="row">
        <label class="span2">Sistema Origen</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtSistemaOrigen" type="text" name="txtSistemaOrigen" placeholder="Sistema Origen" value="Solicitudes Integrales" />
        </div>
    </div>

    <div class="row">
        <label class="span2">Id Documento</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtIdDocumento" type="text" name="txtIdDocumento" placeholder="Id Documento" value="@(Model != null ? @Model.IdSolicitudIntegral.ToString() : "")" />
        </div>
    </div>

    <div class="row">
        <label class="span2">Fecha Documento</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtFechaDocumento" type="text" name="txtFechaDocumento" placeholder="Fecha Documento" value="@String.Format("{0:yyyy-MM-dd}",System.DateTime.Now)" />
        </div>
    </div>

    <div class="row">
        <label class="span2">Tipo Documento</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtTipoDocumento" type="text" name="txtTipoDocumento" value="Solicitud Integral" placeholder="Tipo Documento" />
        </div>
    </div>

    <div class="row">
        <label class="span2">Descripcion</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtDescripcion" type="text" name="txtDescripcion" placeholder="Descripcion" value="@(Model != null ? @Model.FolioSolicitudIntegral : "")" />
        </div>
    </div>

    <div class="row">
        <label class="span2">Usuario Creacion</label>
            
        <div class="input-control text span4 input-append">
            <input id="txtUsuarioCreacion" type="text" name="txtUsuarioCreacion" placeholder="Usuario Creacion" value="@Model.FichaCaptura" />
        </div>
    </div>

    <input type="submit" value="Mandar" />
        
    }

    @using (Html.BeginForm("ObtenerHash", "FirmaElectronica", FormMethod.Get))
    {
        <input type="submit" value="Obtener Hash" />
    }

</div>